.smailes
	position absolute
	bottom -60px
	left 0
	z-index 2

/**/
/* accordion */
/**/
.accordion .content-title
	
	&.yellow
		font-family PTSans-Bold
	
	&.active.yellow
		color #366d8f
	
	&.checked:before
		font-size: pixelsToEm(15);
		width auto
		height auto
		font-family FontAwesome
		content "\f00c"
		background-color: transparent
		color #efac1b
	
	&.active.yellow,
	&.active.yellow + .content
		border-color #efac1b
		background-color #fff
/**/
/* accordion */
/**/


/**/
/* registration */
/**/
.b-reg
	margin-top 35px
	
	&__container
		display flex
	
	&__item
		width 33%
		padding-right 80px
		
		&:last-of-type
			padding-right 0
		
		&.modules-1
			padding-left 40px
			
			.list-st1.content-p
				line-height 1.45
		
		&.modules-2
			padding-left 31px
/**/
/* registration */
/**/

/**/
/* b-input */
/**/
.b-input
	position relative
	margin-bottom 25px
	
	&__label
		font-size pixelsToEm(18)
		color #444444
		
	&__select
		cursor pointer
	
	&__textarea
		width 100%
		min-height 155px
	
	&__input,
	&__select,
	&__textarea
		padding 7px 10px
		color #aeaeae
		border 1px solid #aeaeae
		border-radius 2px
	
	&__input_width-full
		width 100%
		padding 7px 10px
		color #aeaeae
		border 1px solid #aeaeae
		border-radius 2px
	
	&__select_width-full
		width 100%
		padding 7px 10px
		color #aeaeae
		border 1px solid #aeaeae
		border-radius 2px
		cursor pointer
	
	&__wrapper
		.b-input__select,
		.b-input__input
			width 26%
			margin-right 10px
			
			&:first-of-type
				width 38%

			&:last-of-type
				margin-right 0	


.payment
	margin-left 20px
	padding 62px 0 62px 54px
	border 2px solid #ebebeb
	border-radius 20px
	font-family PTSans-Bold
	background-image url('/assets/images/registration-internships-1/payment.png')
	background-repeat no-repeat
	background-position-y 53px
	background-position-x 271px
	
	&__paragraph
		line-height 1.4
	
	&__price
		font-size pixelsToEm(48)
	
	&__text
		display block

.b-credit
	position relative
	padding 27px
	padding-top 42px
	margin-left 18px
	margin-right 23px
	border 2px solid #ebebeb
	border-radius 20px
	background-color #ebebeb
	
	.b-reg__container
		justify-content space-between
	
	&__right
		position absolute
		right -26px
		top 28px
		height 100%
	
	&__bottom
		width 94%
		position absolute
		bottom -28px
		right 0
		
	
	.b-input i
		position absolute
		right 10px
		bottom 12px
		font-size 20px
		color #9d9d9d
	
	.b-input__label
		font-size 14px
		letter-spacing 1px
		color #9d9d9d
	
	.b-input__input,
	.b-input__select,
	.b-input__select_width-full
		padding 10px
		color #9d9d9d
		font-weight 600
		border-color #e4e4e4
	
	.b-input__select
		width 130px!important
		margin-right 0

