.smailes
	position absolute
	bottom -60px
	left 0
	z-index 2

/**/
/* accordion */
/**/
.accordion .content-title
	
	&.yellow
		font-family PTSans-Bold
	
	&.active.yellow
		color #366d8f
	
	&.checked:before
		font-size: pixelsToEm(15);
		width auto
		height auto
		font-family FontAwesome
		content "\f00c"
		background-color: transparent
		color #efac1b
	
	&.active.yellow,
	&.active.yellow + .content
		border-color #efac1b
		background-color #fff
/**/
/* accordion */
/**/


/**/
/* registration */
/**/
.b-reg
	margin-top 35px
	
	&__container
		display flex
	
	&__item
		width 33%
		padding-right 80px
		
		&:last-of-type
			padding-right 0	
/**/
/* registration */
/**/

/**/
/* b-input */
/**/
.b-input
	margin-bottom 25px
	
	&__label
		font-size pixelsToEm(18)
		color #444444
		
	&__select
		cursor pointer
	
	&__textarea
		width 100%
		min-height 155px
	
	&__input,
	&__select,
	&__textarea
		padding 7px 10px
		color #aeaeae
		border 1px solid #aeaeae
		border-radius 2px
	
	&__input_width-full
		width 100%
		padding 7px 10px
		color #aeaeae
		border 1px solid #aeaeae
		border-radius 2px
	
	&__select_width-full
		width 100%
		padding 7px 10px
		color #aeaeae
		border 1px solid #aeaeae
		border-radius 2px
		cursor pointer
	
	&__wrapper
		.b-input__select,
		.b-input__input
			width 26%
			margin-right 10px
			
			&:first-of-type
				width 38%

			&:last-of-type
				margin-right 0	

	
	
		
		
	
