.nav-bar__menu
	box-shadow 0 1px 1px rgba(0,0,0,0.3)
.float-img
	margin-right 30px
.img-inline
	display inline-block
	vertical-align text-bottom
img
	max-width 100%
.wrap-img
	display flex
	flex-wrap wrap
.wrap-img-desc
	width 50%
	text-align center
	& + .wrap-img-desc
		border-left 1px solid #aeaeae
	.img-inline
		vertical-align middle
	.img-desc
		padding-left 50px
		vertical-align middle
/**/
/* Course banner item */
/**/
.course-banner-item
	& + .course-banner-item
		margin-top 37px
	display flex
	border 2px solid #d9d9d9
	.course-banner-pic
		font-size 0
	.course-banner-content
		.button-st1
			max-width 306px
		display flex
		flex-wrap wrap
		flex 1
		padding 19px 20px 24px 5px
		>*
			padding 0 25px
		.course-banner-price-section
			box-sizing content-box
			max-width 306px
	.course-banner-slog
		color #747474
		line-height 1.2
		font-size pixelsToEm(16)
		font-weight 700
	.course-banner-country
		color #366d8f
		font-weight 700
		font-size pixelsToEm(36)
		text-decoration underline
	.course-banner-price
		p
			font-size pixelsToEm(24)
		.price
			font-size pixelsToEm(48)
			line-height 1.46
			font-weight 700
			color #3e8f36
		.del-price
			font-size pixelsToEm(24)
			line-height 0.8
			font-weight 700
			color #e54239
			text-decoration line-through
			

/**/
/* service items */
/**/
.service-item
	.pic
		display flex
		flex-direction column
		align-content center
		justify-content center
		align-items center
		width 328px
		height 328px
		background-color $orange
		margin 0 auto
		border-radius 50%
		box-shadow inset 0px 0px 4px 0px rgba(0,0,0,0.3)
	.service-item-title
		margin-top 15px
		font-weight 700
		font-size pixelsToEm(24)
		color #366d8f
	.service-item-description
		display flex
		align-items center
		text-align center
		justify-content center
		margin -62px auto 0 auto
		min-height 92px
		width 180px
		border 4px solid $orange
		background-color #ffffff
		border-radius 42px
		font-size 15px
		line-height 1.3
		font-weight 700
		color $main-color
	
/**/
/*  ! service items */
/**/

/**/
/* service 2*/
/**/

.wrapper-service-2
	border 2px solid #d9d9d9
	border-radius 2px
	margin 0 8px
	padding 30px 8px 20px 8px
	display flex
	align-items center
	div:first-child
		width 160px

/**/
/*  !  service 2*/
/**/

/**/
/* Blog item style 2 */
/**/

.blog-item-2
	display flex
	flex-wrap wrap
	& + .blog-item-2
		margin-top 27px
	&>*
		width 33.33%
	.media-wrap
		font-size 0
		img
			width 100%
	.content-wrap
		padding 25px
		.content-p
			line-height 1.273
	.icon-title-wrap
		display flex
		justify-content center
		align-items center
		flex-direction column
		background-color #f7f7f7
		.blog-2-title
			line-height 1.2
		i
			font-size pixelsToEm(76)
			color $main-color

/**/
/* ! Blog item style 2 */
/**/

.k-img-banner-wrapper
	border 2px solid #d9d9d9
	padding 42px 0 34px 0
	&.small
		padding-top 30px
		padding-bottom 30px
	img
		max-width 95%

/**/
/* widget latest comment */
/**/

.widget-latest-comments
	padding 30px 28px 20px 28px
	border 2px solid #d9d9d9
	
	.comment-item
		& + .comment-item
			margin-top 25px
		&:after
			content ""
			clear both
			display table
		.avatar
			float left
			margin-right 25px
		.comment-text
			font-size pixelsToEm(18)
			color #444444
			line-height 1.25
			margin-left 112px
			.meta
				font-weight 700

/**/
/* ! widget latest commet */
/**/
.help-title
	display block
	position relative
	z-index 1
	border 2px solid $main-color
	border-radius 2px
	padding 6px 20px 6px 18px
	cursor pointer
	margin-top 11px
	font-weight 700
	.accordion-icon
		position absolute
		width 20px
		height 20px
		right 17px
		top 50%
		transform translateY(-50%)
		&:before
			content ""
			display block
			width 14px
			height 2px
			background-color $main-color
			position absolute
			top 6px
			left 0
			transform rotate(20deg)
		&:after
			content ""
			display block
			width 14px
			height 2px
			background-color $main-color
			position absolute
			top 11px
			left 0
			transform rotate(-20deg)
.accordion
	font-size pixelsToEm(18)
	line-height 24px
	.content
		padding 18px
	.content + .content-title
		margin-top 11px
	.content-title
		position relative
		z-index 1
		border 2px solid #d9d9d9
		border-radius 2px
		padding 6px 20px 6px 18px
		cursor pointer
		&:hover
			border-color $orange
		&.active
			border-color #d9d9d9
			border-bottom 0
			background-color #f2f2f2
		& + .content
			margin-top -1px
			border 2px solid #d9d9d9
			border-top 0
			background-color #f2f2f2
			border-radius 2px
		.accordion-icon
			position absolute
			width 20px
			height 20px
			right 17px
			top 50%
			transform translateY(-50%)
			&:before
				content ""
				display block
				width 20px
				height 4px
				background-color $main-color
				position absolute
				top 8px
				left 0
			&:after
				content ""
				display block
				width 4px
				height 20px
				background-color $main-color
				position absolute
				top 0
				left 8px
		&.active .accordion-icon:after
				opacity 0
/**/
/* widget banner st-3 */
/**/			
.widget-banner-discount
	border 2px solid #d9d9d9
	border-radius 2px
	padding 20px 30px 30px 30px
	.first-header
		font-size pixelsToEm(18)
		line-height 1.3
		font-weight 700
		color #f26522
	.bigest-header
		font-size pixelsToEm(69)
		line-height 55px
		color #f26522
		font-weight 700
	.del-price-banner
		text-decoration line-through
		font-weight 700
		font-size pixelsToEm(24)
	.cur-price
		color #f26522
		font-weight 700
		font-size pixelsToEm(34)
	.middle-header
		font-size pixelsToEm(44)
		line-height 60px
		font-weight 700
	.middle-plus-header
		font-size pixelsToEm(53)
		line-height 60px
		font-weight 700
	.float-text
		float left
		margin-right 25px
		& + img
			margin-top -18px
			margin-bottom -32px
		.middle-header
			font-size pixelsToEm(36)
			color $main-color
			line-height 1.1
		.middle-plus-header
			font-size pixelsToEm(38)
			color $main-color
			line-height 1.1
		.bigest-header
			font-size pixelsToEm(60)
			color $main-color
			line-height 1.1
/**/
/* ! widget banner st-3 */
/**/
.promo-page-title
	font-size pixelsToEm(30)
	line-height 40px
	padding 5px 10px
	text-align center
	border 2px solid #d9d9d9
	border-radius 2px
	color $main-color
	font-weight 700
.promos-banner
	display flex
	flex-wrap wrap
	align-items center
	line-height 1.2
	border 2px solid #d9d9d9
	border-radius 2px
	background-size cover
	position relative
	z-index 1
	overflow hidden
	img.top
		position absolute
		left -10px
		top -10px
		z-index 1
	.tx-size-18
		font-size pixelsToEm(18)
		text-shadow 0 2px 1px rgba(0,0,0,0.3)
	.tx-size-41
		font-size pixelsToEm(41)
		text-shadow 0 2px 1px rgba(0,0,0,0.3)
	.tx-size-46
		font-size pixelsToEm(46)
		text-shadow 0 2px 1px rgba(0,0,0,0.3)
	.tx-size-50
		font-size pixelsToEm(50)
		text-shadow 0 2px 1px rgba(0,0,0,0.3)
	.tx-size-76
		font-size pixelsToEm(76)
		text-shadow 0 2px 1px rgba(0,0,0,0.3)
	.tx-bold
		font-weight 700
	.dark-orange
		color #efac1b
	.wrapper-1
		width 255px
	.wrapper-2
		width 60%
		padding-right 20px
	.wrapper-3
		width 220px
	.text-main-color
		color #77bfeb
	img.top-center
		position absolute
		top 0
		left 58px
/**/
/* blog main style */
/**/
a
	color $main-color
p a
	color #366d8f
	text-decoration underline
	&:hover
		text-decoration none
.blog-def-item
	border-bottom 2px solid #d9d9d9
	padding-bottom 22px
	& + .blog-def-item
		margin-top 40px
	&:after
		display table
		content ""
		clear both
	.blog-pic
		border 2px solid #d9d9d9
		border-radius 2px
		width 100%
	.blog-def-title
		a
			text-decoration underline
			text-transform uppercase
			&:hover
				text-decoration none
	.blog-def-content
		a
			color #366d8f
			text-decoration underline
			&:hover
				text-decoration none
	.blog-post-info
		font-size pixelsToEm(14)
		float left
		padding 9px 0
	.blog-share-icons
		float right

/**/
/* ! blog main style */
/**/

/**/
/* widgets */
/**/
.strong
	font-weight 700
.float-left
	float left
.clearfix
	&:after
		content ""
		display table
		clear both
.widget-wrapper
	border 2px solid #d9d9d9
	border-radius 2px
	padding 18px 12px
	&.email
		padding 18px 25px
	.wp-plugin
		width 100%
	.float-left
		margin-right 25px
	&.widget-select .widget-title
		text-shadow 0 2px 1px rgba(0,0,0,0.3)
	& + .widget-wrapper
		margin-top 20px
	&:first-child
		margin-top 45px
	&.widget-search,
	&.widget-select
		padding 18px 12px
		.search-form
			label
				display block
				position relative
				&:before
					content "\f002"
					font-family FontAwesome
					font-size 12px
					position absolute
					right 12px
					top 50%
					transform translateY(-50%)
					color #2d8180
		input,
		.widget-select-country
			width 100%
			box-sizing border-box
			border 1px solid #aeaeae
			border-radius 1px
			padding 4px 13px
	&.widget-categories,
	&.widget-recent-post
		padding 18px 0px 14px 0
		.row
			margin 0 13px
		.cat-link,
		.recent-post-link
			display block
			font-size pixelsToEm(18)
			color inherit
			text-decoration underline
			line-height 36px
			&:hover,
			&.more-post
				color #366d8f
			&.more-post
				font-weight 700
/**/
/* ! widgets */
/**/

/**/
/* blog single */
/**/
.blog-def-item.single-page
	border-bottom 0
.comments-header
	font-size pixelsToEm(18)
	font-weight 700
	margin-bottom 20px
	&>span:after
		content: ""
		display inline-block
		vertical-align middle
		margin 0 8px
		width 3px
		height 3px
		background-color #b3b3b3
	.button-minimize
		color $main-color
		i
			display inline-block
			text-align center
			line-height 14px
			font-size 20px
			width 16px
			height 16px
			border 1px solid $main-color
			border-radius 2px
		span
			text-decoration underline
	.count-reaction
		color #b3b3b3
		&:after
			display none
	.rate-stars
		float right
.comments-enter
	.comments-avatar
		float left
		margin-right 12px
	.comments-leave-message
		width calc(100% - 48px)
		box-sizing border-box
		border-radius 2px
		padding 3px 12px
.nav-comments
	border-bottom 2px solid #ebeff1
	padding-top 30px
	padding-bottom 11px
	position relative
	&:before
		position absolute
		display block
		content ""
		bottom -2px
		left 0
		width 100px
		height 2px
		background-color #1e98fc
	.button-nav-comment
		font-size pixelsToEm(13)
		margin-left 20px 
		&:after
			content "|"
			color #e0e1e3
			margin 0 0 0 13px
	.right-nav-comments
		color #777777
		font-size pixelsToEm(13)
		float right
		span + span
			margin-left 10px
.comments-block
	.comments-avatar
		float left
		
.comments-block
	padding 20px 0 15px
	& + .comments-block
		border-top 1px solid #e6e6e6
.comment-content
	margin-left 50px
	line-height 24px
	.comment-author
		color #1e98fc
	.time
		color #818181
		font-size 13px
		&:before
			content ""
			display inline-block
			width 2px
			height 2px
			background-color #cdcdcd
			vertical-align middle
			margin 0 5px
	.comment-footer
		.share:before,
		.reply:before
			content ""
			display inline-block
			width 2px
			height 2px
			background-color #cdcdcd
			vertical-align middle
			margin 0 5px
		i
			font-size 10px
			vertical-align text-top
			line-height 15px
		font-size 13px
		color #818181
/**/
/* ! blog single */
/**/

/**/
/*blog widget*/
/**/
.blog-widget
	border-top 2px solid #717171
	margin-top 20px
	padding-top 20px
	.blog-widget-pic
		max-width calc(100% + 40px)
		float left
		margin-right 40px
		img
			max-width calc(100% + 40px)
	.first-title
		text-transform uppercase
	.first-title,
	.blog-widget-time
		font-size pixelsToEm(18)
		line-height 26px
		color #393939
		font-weight 700
	.subtitle
		font-size pixelsToEm(26px)
		color $main-color
		font-weight 700
		line-height 1.3
		text-transform uppercase
	.blog-widget-time
		color #989898
/**/
/* ! blog widget*/
/**/

/**/
/* widget services */
/**/
.widget-services
	.widget-services-title
		font-size pixelsToEm(32)
		line-height 1.2
		color $main-color
		font-weight 700
		margin-bottom 30px
	.widget-services-content
		font-size pixelsToEm(18)
		line-height 24px
		float left
		padding-left 20px
		border-left 1px solid #b3b3b3
		a
			font-weight 700
			text-decoration underline
	.widget-services-icon
		float right

/**/
/* ! widget services */
/**/
