.nav-bar
	position relative
	display block
	
	&_position_absolute
		position absolute
		left 0
		right 0
		z-index 5
		
		& .nav-bar__heading
			background-color rgba(217, 217, 217, .5)	
	
	&__heading
		background-color #ececec
	
	&__logo
		display block
		padding-top 12px
		padding-bottom 12px
		@media $medium_and_down
			padding-left 8px
		@media $small-and-down
			padding-left 0
		
		img
			max-width inherit
			@media $small-and-down
				width 138px
	
	&__social
		overflow hidden
		padding-top 2px
		display inline-block
		float right
		
		&-item
			float left
			
			&:last-of-type
				
				.nav-bar__social-link
					&:after
						display block
						position absolute
						right 0
						top 12px
						height 65%
						width 1px
						content ''
						background linear-gradient(to bottom, rgba(176,176,176,0) 1%,rgba(176,176,176,0.65) 44%,rgba(176,176,176,1) 55%,rgba(176,176,176,0) 100%)
					
					&.white
						&:after
							background linear-gradient(to bottom, rgba(255,255,255,0) 1%,rgba(255,255,255,0.65) 44%,rgba(255,255,255,1) 55%,rgba(255,255,255,0) 100%)
						
						&:hover:after
							background transparent
							

		&-icon
			font-size pixelsToEm(20)
			
			&.white
				color white	
		
		&-link
			position relative
			width 37px
			display flex
			align-content center
			align-items center
			justify-content center
			height 73px
			background-color transparent
			will-change background-color
			transition background-color .1s linear
			
			&:before
				display block
				position absolute
				left 0
				top 12px
				height 65%
				width 1px
				content ''
				background linear-gradient(to bottom, rgba(176,176,176,0) 1%,rgba(176,176,176,0.65) 44%,rgba(176,176,176,1) 55%,rgba(176,176,176,0) 100%)
			
			&:hover
				background-color #366d8f
				
				& .nav-bar__social-icon
					color $orange
					
				&:before
					background transparent
			
			&.white
				
				&:before
					background linear-gradient(to bottom, rgba(255,255,255,0) 1%,rgba(255,255,255,0.65) 44%,rgba(255,255,255,1) 55%,rgba(255,255,255,0) 100%)
				
				&:hover:before
					background transparent
		
	&__menu
		height 57px
		background-color rgba(0, 0, 0, 0.6)
		position absolute
		left 0
		right 0
		bottom -57px
		z-index 1
		

		&-link
			display block
			position relative
			padding-top 18px
			padding-bottom 18px
			padding-left 18px
			padding-right 18px
			color white
			font-family PTSans-Bold
			text-decoration none
			font-size pixelsToEm(18)
			font-weight bold
			will-change color
			transition color .2s ease
			@media (max-width: 1110px)
				font-size .92em
			
			&:after
				display block
				position absolute
				top 8px
				left 0
				z-index 2
				content ''
				sprite $devider
			
			&:hover
				color lighten(#efac1b, 35%)
			
			&_active
				color #efac1b
				
				&:hover
					color #efac1b
			
			&_mobile
				color #fff
				font-family PTSans-Bold
				
		&-item
			position relative
			float left
			
			&:last-of-type
				
				&:before
					display block
					position absolute
					top 8px
					right 0
					z-index 2
					content ''
					sprite $devider
			
			&_mobile
				padding 17px 0 17px 50px
				
				&:first-of-type
					padding-top 20px
				
				&:last-of-type
					padding-bottom 25px
				
				&.active
					width 80%
					border-bottom 1px solid #407696
					border-top 1px solid #407696
					background linear-gradient(to right, rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 100%)
			
		&_mobile
			display flex
			align-items center
			justify-content flex-end
			padding-top 20px
			@media $small-and-down
				padding-top 9px
			
			&-icon
				margin-left 30px
				font-size 2em
				color #fff
				cursor pointer
		
		&-list_mobile
			position absolute
			z-index 1
			top 79px
			right 0
			width 367px
			background-image url('../images/submenu-mobile-bg.png')
			background-repeat repeat
			visibility hidden
			z-index -1
			opacity 0
			transform translate(0, -9px)
			will-change visibility, opacity, z-index
			transition visibility .25s ease-out, opacity .25s ease-out, z-index .25s ease-out, transform .25s ease-out .1s
			@media $small-and-down
				top 59px
				width 100%
			
			&.display
				visibility visible
				z-index 12
				opacity 1
				transform translate(0, 1px)
			
					
	&__submenu
		position absolute
		z-index 2
		white-space nowrap
		top 52px
		left 0
		background-color #4f4f4f
		cursor pointer
		visibility hidden
		z-index -1
		opacity 0
		transform translate(0, -9px)
		will-change visibility, opacity, z-index
		transition visibility .25s ease-out, opacity .25s ease-out, z-index .25s ease-out, transform .25s ease-out .1s
		
		&:before
			position absolute
			top -7px
			left 23px
			content ''
			z-index 3
			width 0
			height 0
			border-left 8px solid transparent
			border-right 8px solid transparent
			border-bottom 8px solid #4f4f4f
		
		&-item
			display block
			position relative
			
			&:after
				display block
				position absolute
				bottom 0
				left 50%
				right 50%
				transform translate(-50%, 0)
				z-index 3
				content ''
				sprite $dropdowndivider
			
			&:last-of-type:after
				content none
			
			&_mobile
				line-height 24px
			
		&-link
			position relative
			display block
			padding 20px 36px 20px 23px
			font-family PTSans-Bold
			color #fff
			will-change color
			transition color .2s ease
	
			&:hover
				color lighten(#efac1b, 35%)
			
			&_active
				color #efac1b
				
				&:hover
					color #efac1b
			
			&_mobile
				color #fff
				
				&:hover
					color lighten(#efac1b, 35%)
			
				&.active
					color #efac1b
					text-decoration underline
				
					&:hover
						color #efac1b
		
		&_mobile
			padding-left 20px
			margin-top 5px
		
	&__menu-item:hover &__submenu
		visibility visible
		z-index 12
		opacity 1
		transform translate(0, 1px)
	

	&__login
		padding-top 7px
		text-align right
		@media $medium_and_down
			padding-top 0
		
		
		&-btn
			position relative
			display inline-block
			padding 10px 37px 10px 27px
			color #efac1b
			text-decoration none
			font-family PTSans-Bold
			border 2px solid #efac1b
			border-radius 3px
			@media $small-and-down
				padding 9px
			
			&:after
				display block
				position absolute
				top 15px
				z-index 2
				content ''
				height 3px
				width 3px
				border 3px solid
				border-radius 3px
				border-color transparent
				border-right-color #efac1b
				border-bottom-color #efac1b
				right 22px
				transform rotate(-52deg)
