.nav-bar
	display block
	background-color #ececec
	
	&__logo
		display block
		padding-top 12px
		padding-bottom 12px
	
	&__social
		padding-top 2px
		
		&-item
			float left
		
		&-link
			display flex
			align-content center
			align-items center
			justify-content center
			height 73px
			width 37px
			
			&_bg_blue
				background-color #366d8f
			
		&-call
			sprite $phone
			
		&-googlePl
			background-image url("../images/sprites/social.png")
			background-position -92px 0px
			width 38px
			height 54px
			
		&-instagram
			sprite $insta
			
		&-twitter
			sprite $twit
			
		&-facebook
			sprite $faceB
