.nav-bar
	position relative
	display block
	
	&__heading
		background-color #ececec
	
	&__logo
		display block
		padding-top 12px
		padding-bottom 12px
	
	&__social
		overflow hidden
		padding-top 2px
		display inline-block
		float right
		
		&-item
			float left
		
		&-link
			display flex
			align-content center
			align-items center
			justify-content center
			height 73px
			width 37px
			
			&_bg_blue
				background-color #366d8f
			
		&-call
			sprite $phone
			
		&-googlePl
			sprite $googleplus
			
		&-instagram
			sprite $insta
			
		&-twitter
			sprite $twit
			
		&-facebook
			sprite $facebook
	
	&__menu
		height 57px
		background-color rgba(0,0,0,0.6)
		position absolute
		left 0
		right 0
		bottom -57px
		z-index 1
		

		&-link
			display block
			position relative
			padding-top 18px
			padding-bottom 18px
			padding-left 18px
			padding-right 18px
			color white
			font-family PTSans-Bold
			text-decoration none
			font-size: pixelsToEm(18);
			font-weight bold
			
			&:after
				display block
				position absolute
				top 8px
				left 0
				z-index 2
				content ''
				sprite $devider
			
			&_active
				color #efac1b
			
		
		&-item
			position relative
			float left
			
			&:last-of-type
				
				&:before
					display block
					position absolute
					top 8px
					right 0
					z-index 2
					content ''
					sprite $devider
	

	&__login
		padding-top 7px
		text-align right
		
		&-btn
			position relative
			display inline-block
			padding 10px 37px 10px 27px
			color #efac1b
			text-decoration none
			font-family PTSans-Bold
			border 2px solid #efac1b
			border-radius 3px
			
			&:after
				display block
				position absolute
				top 15px
				z-index 2
				content ''
				height 3px
				width 3px
				border 3px solid
				border-radius 3px
				border-color transparent
				border-right-color #efac1b
				border-bottom-color #efac1b
				right 22px
				transform rotate(-52deg)
