.discount-large.uppercase
	.container
		.discount-large__title Discount
		.discount-large__content
			span.discount-large__text I have an additional #[br] discount code:
			input.discount-large__input(placeholder="Paste URL here...")
		.discount-large__btn Submit

