.discount-large
	font-family PTSans-Bold
	color #555555
	font-size pixelsToEm(18)
	background-color #f4f4f4
	text-align right
	
	& .container
		padding 20px 0
	
	&__title
		position absolute
		left 0
		bottom -23px
		font-size pixelsToEm(100)
		color #fff
	
	&__content
		display inline-block
		vertical-align baseline
	
	&__text
		display inline-block
		margin-right 20px
		vertical-align bottom
		line-height 25px
	
	&__input
		display inline-block
		font-family PTSans-Regular
		padding 10px
		margin-right 10px
		color #858585
		background-color #fff
		border 1px solid #777777
		border-bottom 1px solid #366d8f
		vertical-align middle
	
	&__btn
		display inline-block
		vertical-align middle
		color #fff
		padding 13px 54px
		background-color #2e8885
		cursor pointer