html,
body
	font-family PTSans-Regular
	color #444444

a
	text-decoration none

b
	font-weight bold
strong
	font-weight 700
	
hr, .divider
	border-top 1px solid #fafafa
	border-bottom 1px solid #d8d8d8

.clear
	clear both	
ol
	list-style-type decimal
	margin-left 25px
.cont-fs
	font-size pixelsToEm(24px)
	line-height 30px
.content-p
	font-size pixelsToEm(18)
	line-height 1.2
.list-st1
	li
		padding-left 20px
	li:before
		display inline-block
		content ''
		width 7px
		height 7px
		line-height 30px
		vertical-align middle
		border-radius 50%
		background-color #366d8f
		margin-left -18px
		margin-right 11px
	li.orange-before:before
		background-color $orange
		
	&.content-p li
		margin 7px 0
		&:before
			width 4px
			height 4px
	&.checked li
		margin 3px 0
		&:before
			font-size: pixelsToEm(15);
			width auto
			height auto
			font-family FontAwesome
			content "\f00c"
			background-color: transparent
			color #4e97c4
	&.orange li:before
		color $orange
/**/
/* page title */
/**/

.icon-before {
	margin-right 16px
}

.title-lead
	font-family PTSans-Bold
	font-size pixelsToEm(36)
	color #366d8f
	line-height 42px

.page-title-wrapper
	&.alt
		padding 87px 50px
	background-size cover
	padding 97px 50px
	.page-title
		color #ffffff
		font-size pixelsToEm(35)
		font-weight 700
		text-shadow 0 2px 2px rgba(0,0,0,0.3)

.title-st-1
	font-size pixelsToEm(30)
	line-height 30px
	font-weight 700
	color #366d8f
	
.uppercase
	text-transform uppercase
	
.text-white
	color #ffffff !important
	
.text-orange
	color $orange !important
	
.text-main-color
	color $main-color

.text-black
	color #444444 !important

.text-green
	color #2e8885

.text-accent
	color #f26522 !important	
	
.page-slog
	text-transform uppercase
	color #ffffff
	font-size pixelsToEm(18)
	font-weight 700
	line-height 1.2
	
.text-right
	text-align right
	
.block-center
	display block
	margin-left auto
	margin-right auto
	
/**/
/* ! page title */
/**/

/**/	
/*button*/
/**/
.button-st1
	display inline-block
	border 3px solid #4e97c4
	color #4e97c4
	padding 9px 60px
	box-sizing border-box
	background-color transparent
	-webkit-appearance none
	font-weight 700
	white-space nowrap
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
	&.full-width
		width 100%
		text-align center
	&:hover
		color #ffffff
		background-color #4e97c4
	&.alt
		background-color #4e97c4
		color #ffffff
		&:hover
			background-color transparent
			color #4e97c4
	&.text-orange
		color $orange
	&.orange-bg
		background-color $orange
		color $main-color
		border-color $orange
		&:hover
			background-color transparent
			color $orange
	&.orange
		border-color $orange
		color $orange
		&:hover
			background-color $orange
			color #ffffff

/**/
/* ! button */
/**/

/**/
/* blog item */
/**/
.title-st-2
	font-size pixelsToEm(24)
	line-height 36px
	font-weight 700
	color $main-color
		
.blog-item
	
	&_bg
		background-color #f0f0f0
	
	&_border,
	&_border_blue
		padding-left 20px
		padding-right 25px
		border 1px solid #d9d9d9
		border-radius 3px
	
	&_border_blue
		border-color #366d8f
		
		.col span
			display block
			margin-bottom 20px
			
			&.text-main-color,
			&.text-accent
				font-family PTSans-Bold
			
			&:last-of-type
				margin-bottom 0
	
	p + p
		margin-bottom 35px

	& + .blog-item
		margin-top 50px
	p, .context-link
		font-size pixelsToEm(18)
		line-height 24px
	.media-part
		display flex
		background-color #f7f7f7
		img
			width 100%
		.context
			align-self center
			padding 15px 20px
			width 50%
			.context-icon
				font-size pixelsToEm(26)
				color $main-color
			.context-link
				display inline-block
				color $main-color
				&:after
					display inline-block
					content ">"
					padding-left 5px
					transition: all .3s ease;
				&:hover:after
					transform translateX(5px)
					
		.pic
			width 50%

/**/
/* ! blog item */
/**/

/**/
/* gallery */
/**/
.k-gallery-grid
	text-align center
	margin 0 -3px
	font-size 0
	
	.gallery-item
		position relative
		z-index 1
		max-width 243px
		display inline-block
		margin 3px
		overflow hidden
		img
			transition all 0.3s
		&:hover img
			transform scale(1.1)
			transition all 4s
		.gallery-title
			position absolute
			z-index 3
			top 50%
			left 0
			right 0
			color #fff
			font-size 32px
			font-weight 700
			text-shadow 0 3px 1px rgba(0,0,0,0.3)
			text-transform uppercase
			transform translateY(-50%)
	&-footer
		.gallery-item
			max-width 310px
	
	&-footer-2
		.gallery-item
			max-width inherit
			width 409px
			height 235px
		
		img
			width 100%
			height 100%
	

/**/
/* ! gallery*/
/**/

/**/
/* Parallax */
/**/

.k-parallax-section
	position relative
	z-index 1
	background-size cover
	background-attachment fixed
	&.overlay:before,
	&.overlay-half:after
		content ""
		position absolute
		display block
		top 0
		right 0
		left 0
		bottom 0
		z-index 1
		background-color #000000
		opacity 0.45
	&.overlay-half:after
		left 50%
	.row
		position relative
		z-index 4
/**/
/* ! Parallax */
/**/

/**/
/* flex */
/**/
.flex
	display flex
	align-items stretch
/**/
/* ! flex */
/**/
.course-enroll
	display flex
	flex-wrap wrap
	.col
		align-self center
.course-enroll_slog
	font-size pixelsToEm(60)
	line-height 58px
	color #efac1b
	font-weight 700

.course-enroll_context
	font-size pixelsToEm(24)
	line-height 1.4

.course-enroll_title
	color #efac1b
	font-size pixelsToEm(48)
	font-weight 700

.course-enroll_container 
	padding-left 25px

.course-enroll_form
	font-size pixelsToEm(18)
	line-height 1.7
.course-enroll_form:after 
	content ''
	display table
	clear both
.course-enroll_form input:not(.button-st1):not(.checkbox_enroll), .course-enroll_form .enroll-country-select 
	color #999
	background-color #fff
	border 0
	box-shadow none
	border-radius 4px
	padding 18px 10px
	margin 0 17px 13px 0
.course-enroll_form .form-row, .course-enroll_form .enroll-country-select 
	width calc(100% - 17px)
.course-enroll_form .form-col-6 
	float left
	width calc(50% - 17px)
.placement-item-pic 
	font-size 0
	border 1px solid #ccc
.placement-item-pic img 
	width 100%
	max-width 100%
.placement-item-content 
	color #555
	padding 25px 20px 40px 20px
	background-color #f9f9f9
	border 1px solid #ccc
.placement-item-content .title-st-2 
	font-weight 400
	color inherit
.placement-item-content .flag 
	position relative
	z-index 5
	float left
	margin-top -80px

/**/
/* sections */
/**/

.section-blue
	position relative
	background-color #366d8f
	
/**/
/* sections */
/**/