html,
body
	font-family PTSans-Regular
	color #444444

a
	text-decoration none

b
	font-weight bold
strong
	font-weight 700
	
hr
	border-top 1px solid #fafafa
	border-bottom 1px solid #d8d8d8
.cont-fs
	font-size pixelsToEm(24px)
	line-height 30px
.list-st1
	li
		padding-left 20px
	li:before
		display inline-block
		content ''
		width 7px
		height 7px
		line-height 30px
		vertical-align middle
		border-radius 50%
		background-color #366d8f
		margin-left -18px
		margin-right 11px
	
/**/
/* page title */
/**/
.page-title-wrapper
	&.alt
		padding 87px 50px
	background-size cover
	padding 97px 50px
	.page-title
		color #ffffff
		font-size pixelsToEm(35)
		font-weight 700
		text-shadow 0 2px 2px rgba(0,0,0,0.3)

.title-st-1
	font-size pixelsToEm(30)
	line-height 30px
	font-weight 700
	color #366d8f
.page-slog
	text-transform uppercase
	color #ffffff
	font-size pixelsToEm(18)
	font-weight 700
	line-height 1.2
	
/**/
/* ! page title */
/**/

/**/	
/*button*/
/**/
.button-st1
	display inline-block
	border 3px solid #4e97c4
	color #4e97c4
	padding 9px 60px
	font-weight 700
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
	&:hover
		color #ffffff
		background-color #4e97c4

/**/
/* ! button */
/**/

/**/
/* blog item */
/**/
.title-st-2
		font-size pixelsToEm(24)
		line-height 36px
		font-weight 700
		color #376d8f
.blog-item
	& + .blog-item
		margin-top 50px
	p, .context-link
		font-size pixelsToEm(18)
		line-height 24px
	.media-part
		display flex
		background-color #f7f7f7
		.context
			padding 15px 20px
			width 50%
			.context-link
				display inline-block
				color #376d8f
				&:after
					display inline-block
					content ">"
					padding-left 5px
					transition: all .3s ease;
				&:hover:after
					transform translateX(5px)
					
		.pic
			width 50%

/**/
/* ! blog item */
/**/

/**/
/* gallery */
/**/
.k-gallery-grid
	text-align center
	margin 0 -3px
	font-size 0
	.gallery-item
		position relative
		z-index 1
		max-width 243px
		display inline-block
		margin 3px
		overflow hidden
		img
			transition all 0.3s
		&:hover img
			transform scale(1.1)
			transition all 4s
		.gallery-title
			position absolute
			z-index 3
			top 50%
			left 0
			right 0
			color #fff
			font-size 32px
			font-weight 700
			text-shadow 0 3px 1px rgba(0,0,0,0.3)
			text-transform uppercase
			transform translateY(-50%)
	

/**/
/* ! gallery*/
/**/