.brochure
	.brochure__title
		| Redesigned to specify #[br] Which brochure
	.brochure__content
		p.brochure__text
			| This will need to be redesigned to specify #[br] Which brochure...
		.brochure__footer
			.brochure__link.uppercase
				p Brochure #[br] #[a(href=jv0) download]
				img(src="assets/images/brochure/brochure-min.png", alt="img")
	img.brochure__img(src="assets/images/brochure/brochure.png", alt="img")
	.clear