.calendar
	padding-left 45px
	padding-bottom 10px
	@media $medium_and_down
		padding-left 0
	
	&__row
		display flex
		justify-content space-between
		font-size pixelsToEm(18)
		font-family PTSans-Bold
		padding-top 15px
		padding-bottom 15px
		border-bottom 1px dotted #939393
		
		&:last-of-type
			border-bottom none
	
	&__item
		color #366d8f