mixin article-banner(articles)
	-articles = articles || [];
		each article in articles
				.row.article-banner
					.col.l3.m3.s5
						.article-banner__info
							.article-banner__text
								| Teach in
							a.article-banner__title(href=jv0)
								=article.country
							.article-banner__text
								b
									=article.text
							.article-banner__text
								=article.paid

					.col.l4.m4.s5
						//- Slider
						.article-banner__slider.swiper-container
							.swiper-wrapper
								each slide in article.slides
									ul.article-banner__list.swiper-slide
										each listItem in slide.list
											li.article-banner__list-item
												=listItem
								a.article-banner__btn(href=jv0)
									|Explore!
								.article-banner__slider-btn_left
								.article-banner__slider-btn_right

					.col.l5.m5.s12.padding-right
						img.article-banner__img(src=article.imgPath, alt="img")