.row.container.margin-bottom
	.footer-banner
		img.footer-banner__img.hide-on-med-and-down(src="../images/footer-banner.jpg", alt="footer-banner")
		img.footer-banner__img-mobile.show-on-medium-and-down(src="../images/footer-banner-mobile.png", alt="footer-banner")