.b-banner-blue
	display block
	
	&__img
		display block
		width 100%
	
	&__mobile
		display none
		text-align center
		padding 37px 10px 20px 10px
		border-top 1px solid #b2b2b2
		
		.title-st-1
			display inline-block
			text-align left
			color #4e97c4
	
	&__btn
		border-radius 50%
		width 53px
		height 53px
		display inline-block
		font-size 2em
		color #fff
		background-color #4e97c4
		padding-top 10px
		text-align center
		vertical-align bottom