a.b-banner-blue(href=jv0)
	img.b-banner-blue__img.hide-on-med-and-down(src="assets/images/banner-blue/banner-blue.png", alt="img")
	a(href=jv0).b-banner-blue__mobile.show-on-medium-and-down
		span.title-st-1.uppercase 
			| Take our TEFL quiz and find  your #[br] perfect teaching destination 
		i.b-banner-blue__btn(class="fa fa-angle-right" aria-hidden="true")