.b-prise
	display block
	overflow hidden
	clear both
	background-image url("../images/prise/prise-bg.jpg")
	
	&__title
		font-family PTSans-Bold
		font-size pixelsToEm(44)
		text-align center
		color #efac1b
		text-transform uppercase
		
		&-text
			overflow hidden
			display inline-block
		
		&-btn
			float right
			padding 12px 11px 12px 17px
			margin-left 20px
			font-size 22px
			color #efac1b
			text-transform uppercase
			border 2px solid #efac1b
			border-radius 4px