.b-prise
	display block
	overflow hidden
	clear both
	background-image url("../images/prise/prise-bg.jpg")
	background-size cover
	
	&__heading
		text-align center
	
	&__title
		font-family PTSans-Bold
		font-size pixelsToEm(44)
		text-align center
		color #efac1b
		text-transform uppercase
		
		&-text
			overflow hidden
			display inline-block
		
		&-btn
			float right
			padding 12px 11px 12px 17px
			margin-left 20px
			font-size 22px
			color #efac1b
			text-transform uppercase
			border 2px solid #efac1b
			border-radius 4px
	
	&__subtitle
		display inline-block
		padding 11px 15px
		font-size pixelsToEm(22)
		color #7aaccb
		text-transform uppercase
		text-align center
		border 2px solid #bad5e5
		border-radius 6px
		

	&__table
		display flex
		align-items stretch
		padding-bottom 35px
		justify-content center
		@media $medium_and_down
			padding-left 20px
			padding-right 8px
		@media (max-width: 915px)
			flex-wrap wrap
	
	&__item
		width 300px		
		font-family PTSans-Bold
		color #fff
		text-align center
		@media $medium_and_down
			width 25%
			border 2px solid #fff
			border-radius 3px
			margin-right 10px
		@media (max-width: 915px)
			width 34%
		
		&:nth-child(even)
			@media (max-width: 915px)
				margin-right 0
				
		
		&:first-of-type
			@media (max-width: 915px)
				margin-bottom 30px
			
			.b-prise__item-title
				border-top-left-radius 4px
				
			.b-prise__item-footer
				border-bottom-left-radius 4px
		
		&:nth-child(2)
			@media (max-width: 915px)
				margin-bottom 30px
			
		
		&:last-of-type
			padding-left 8px
			@media $medium_and_down
				padding-left 0
				margin-right 0
		
		&:nth-child(3) &-content
			border-right-color transparent
		
		&-title,
		&-title_orange,
		&-title_blue,
		&-title_blue_dark,
		&-title_blue_light
			position relative
			font-size pixelsToEm(32)
			text-transform uppercase
			background #4b8aaf
			@media $medium_and_down
				padding 15px
				font-size 3vw	
		
		&-title_orange
			background #f26522
			border-top-right-radius 4px
		
		&-title_blue_light
			background linear-gradient(to right,  #73a7c8 0%, #79accb 50%, #75a8c9 100%)
		
		&-title_blue_dark
			background linear-gradient(to right,  #2c6b92 0%, #31779f 50%, #2c6b92 100%)
		
		&-title_blue
			background linear-gradient(to right,  #4b8aaf 0%, #5296b7 50%, #4a89ae 100%)
		
		&-title-devider
			position absolute
			right 0
			top 43px
			sprite $prisetitledevider
		
		&-content,
		&-content_orange
			padding 0 0 15px 0
			background-color #fff
			overflow hidden
			border-top 4px solid #b8d0df
			border-right 2px dotted #61bbc0
			@media $medium_and_down
				border-right none
			
			& i
				color #7badcc
		
		&-content_orange
			border-top-color #f2c6a2
		
		&-text,
		&-text_yellow,
		&-text_orange
			margin-top 10px
			margin-bottom 11px
			font-size pixelsToEm(40)
			color #77aaca
			@media $medium_and_down
				font-size 3.5vw
			
		
		&-text_yellow
			color #efac1b
		
		&-text_orange
			color #fa8e36
		
		&-text_before
			margin-top 27px
			margin-bottom 33px
			font-family PTSans-Bold
			font-size pixelsToEm(30)
			color #2b6990
			text-transform uppercase
			
			&_orange
				position relative
				margin-bottom 33px
				font-family PTSans-Bold
				margin-top 8px
				text-transform uppercase
				
				& .first-line
					display block
					color #ff9d00
					font-size pixelsToEm(20)
				
				& span
					font-size pixelsToEm(30)
					color #f26522
				
				& img
					position absolute
					top 0
					right 26px
		
		&-hours
			margin-bottom 12px
			font-size pixelsToEm(18)
			text-transform uppercase
			color #737b83
			
	
		&-descript,
		&-descript_blue,
		&-descript_blue_light,
		&-descript_blue_dark,
		&-descript_orange
			padding 24px 35px
			text-transform uppercase
			background-color #4bbbb8
			font-size pixelsToEm(18)
			line-height 23px
			
			@media $medium_and_down
				padding 8px
				text-transform none
				font-size 2vw
		
		&-descript_blue_light
			background-color #93bad2
		
		&-descript_blue_dark
			background-color #4987ad
			
		&-descript_blue
			background-color #73a7c8
		
		&-descript_orange
			background linear-gradient(to right,  #fa8f37 0%, #fba340 50%, #fa9037 100%)
		
		
		&-footer,
		&-footer_blue,
		&-footer_blue_light
		&-footer_blue_dark,
		&-footer_orange
			position relative
			padding 24px 0
			background-color #2f8b88
			@media $medium_and_down
				padding 15px
			
			& a
				@media $medium_and_down
					color #fff
					font-size pixelsToEm(24)
					text-transform uppercase
		
		&-footer_blue_light
			background-color #73a7c8
		
		&-footer_blue
			background-color #4987ad	
		
		&-footer_blue_dark
			background-color #2b6990
		
		&-footer_orange
			background linear-gradient(to right,  #f36923 0%, #f78c2f 50%, #f36c24 100%)
			border-bottom-right-radius 4px
		
		&-footer-devider
			position absolute
			top 0
			right 0
			sprite $prisefooterdevider
			
		
		&-btn,
		&-btn_white-transparent
			display inline-block
			padding 11px 14px
			font-family PTSans-Bold
			font-size pixelsToEm(22)
			color #c1dcdc
			text-transform uppercase
			border 2px solid #c1dcdc
			border-radius 4px
			will-change color, background-color, border-color
			transition .25s color ease-in, .25s background-color ease-in, .25s border-color ease-in
			
			&:hover
				color #f26522
				background-color #fff
				border-color #fff	
		

		&-btn_white-transparent
			color #fff
			border-color #fff
