.promo-banner(class=margin_top_none_romo_banner === true ? "mt-0" : "")
	.container.text-center
		.promo-content
			span.promo-title.text-white PROMO BANNER
			span1.promo-timer.text-orange 12 DAYs / 05:23:12