.promo-banner(class=margin_top_none_romo_banner === true ? "mt-0" : "")
	.container.text-center
		.promo-content
			.banner__footer-calendar.mb-0.mt-0
				.banner__footer-calendar-item
					.banner__footer-calendar-text Hours
					.banner__footer-calendar-integer 2
					.banner__footer-calendar-integer 4
				.banner__footer-calendar-item
					.banner__footer-calendar-text Hours
					.banner__footer-calendar-integer 1
					.banner__footer-calendar-integer 1
				.banner__footer-calendar-item
					.banner__footer-calendar-text Hours
					.banner__footer-calendar-integer 0
					.banner__footer-calendar-integer 3
