.b-program-total
	padding-left 18px
	
	&__block-first
		font-family PTSans-Bold
		padding 20px 20px 15px 15px
		border 2px solid #d9d9d9
		border-radius 3px
	
	// &__title
		
	// 	&-price
	// 		display inline-block
	// 		font-size pixelsToEm(53)
	// 		color #3e8f36
		
	// 	&-text
	// 		display inline-block
	// 		font-family PTSans-Regular
	// 		font-size pixelsToEm(26)
	// 		color #444444
		
	
	&__accent
		margin-bottom 15px
		font-size pixelsToEm(92)
		color #efac1b
		text-align center
	
	&__descript
		margin-bottom 15px
		font-size pixelsToEm(21)
		color #366d8f
	
	&__text-before
		font-size pixelsToEm(16)
		color #366d8f
	
	&__text-after
		font-size pixelsToEm(14)
		color #75afad
	
	&__block-second
		margin-top 15px
		margin-bottom 20px
		
		.b-program-total__text-before
			font-family PTSans-Bold
			margin-bottom 10px
			font-size pixelsToEm(18)
			color #555555
		
		.b-program-total__input
			position relative
			width calc(100% - 115px)
			padding-top 5px
			padding-bottom 10px
			padding-left 10px
			border 1px solid #777777
			color #858585
			
		.b-program-total__btn
			font-family PTSans-Bold
			display inline-block
			width 110px
			text-align right
			text-decoration underline
			font-size pixelsToEm(22)
			color #366d8f
			cursor pointer
		
		&.inline
			padding-left 20px

			.b-program-total__text-before
				display inline-block
				margin-right 10px
			
			.b-program-total__input
				width 200px
	
	&__block-third
		padding 20px 0
		text-align center
		border 2px solid #d9d9d9
		border-radius 3px
		font-size pixelsToEm(26)
		color #444444
		
		a
			color #366d8f
			font-family PTSans-Bold
			text-decoration underline

@media only screen and (max-width: $small-screen)
	.b-program-total
		padding-left 0
