.b-program-total

	.b-program-total__block-first.uppercase
		//- .b-program-total__text-before Only $295 to secure Your spot and start your TEFL!
		//- .b-program-total__title.mt-25.mb-20
			//- span.b-program-total__title-text Program #[br]total
			//- span.b-program-total__title-price $1,180 USD
		
		.b-program-total__accent Only $295
		.b-program-total__descript to secure Your spot and start your TEFL!
		.row
			.col.l7
				.b-program-total__text-after $885 Due 60 days before departure
			.col.l5(style="padding:0;")
				.b-program-total__text-after Program total $1,180 USD

	.b-program-total__block-second
		.b-program-total__text-before I have an additional discount code:
		input.b-program-total__input(type="text" placeholder="Paste URL here")
		.b-program-total__btn.uppercase Submit

	.b-program-total__block-third.uppercase
		| Request а #[a(href=jv0) call back] #[img(src="assets/images/article/callback.png" alt="img" width="19px")]


