.course-enroll
	display flex
	flex-wrap wrap
	.col
		align-self center
	
	&__mobile
		padding-top 30px
		padding-bottom 20px
		@media $small-and-down
			text-align center

		&-descript
			margin-top 10px
			margin-bottom 20px
			font-size pixelsToEm(24)
			color #fff
			@media (max-width: 880px)
				color rgba(0,0,0,.5);

.course-enroll_slog
	font-size pixelsToEm(60)
	line-height 58px
	color $orange
	font-weight 700
	
.course-enroll_context
	font-size pixelsToEm(24)
	line-height 1.4
	
.course-enroll_title
	color $orange
	font-size pixelsToEm(48)
	font-weight 700
	
.course-enroll_container
	position relative
	padding-left 25px
	@media $medium_and_down
		padding-top 55px
		padding-bottom 60px
		background-color: rgba(0,0,0, .4);
			
.course-enroll_form
	font-size pixelsToEm(18)
	line-height 1.7
	@media $medium_and_down
		text-align center

	&:after
		content ''
		display table
		clear both
		
	input:not(.button-st1):not(.checkbox_enroll),
	.enroll-country-select
		color #999999
		background-color #ffffff
		border 0
		box-shadow none
		border-radius 4px
		padding 18px 10px
		margin 0 17px 13px 0
		
	.form-row,
	.enroll-country-select
		width calc(100% - 17px)
		
	.form-col-6
		float left
		width calc(50% - 17px)

.text-white
	@media $medium_and_down
		text-align left	

