.k-parallax-section.overlay.overlay-half
	.container.pt-60.pb-40.pt-md-0.pt-sm-0.pb-md-0.pb-sm-0
		.row.course-enroll
			.col.l6.hide-on-med-and-down
				.course-enroll_slog.mb-25 Study Anywhere #[br] on any Device
				.course-enroll_context.text-white.mb-30 #[strong All you need is internet connectivity #[br] and a web browser]
				a.button-st1.orange(href="#") LEARN MORE

			//- Display on mobile and tablet devices
			.col.m6.s12.offset-m6
				.course-enroll__mobile
					h3.course-enroll_slog
						| Your Ticket #[br] to the World!
					.course-enroll__mobile-descript
						| We provide FREE job placement upon completion of your TEFL COURSE
					a.button-st1.orange(href="#") LEARN MORE

			.col.l6.m12.s12
				.course-enroll_container
					.course-enroll_title.text-center.mb-30 Enroll in a TEFL course
					form.course-enroll_form
						input.form-row.form-col-6(type="text", name="name", placeholder="First Name")
						input.form-row.form-col-6(type="text", name="name", placeholder="Last Name")
						input.form-row(type="text", name="email" placeholder="Email address")
						input.form-row(type="text", name="phone" placeholder="Phone Number")
						p.text-white.mt-20 #[strong Your Location]
						select.enroll-country-select(name="billing_country")
							option Select a country...
							option(value="") Select a country…
							option(value="AX") Åland Islands
							option(value="AF") Afghanistan
							option(value="AL") Albania
							option(value="DZ") Algeria
							option(value="AD") Andorra
							option(value="AO") Angola
							option(value="AI") Anguilla
							option(value="AQ") Antarctica
							option(value="AG") Antigua and Barbuda
							option(value="AR") Argentina
							option(value="AM") Armenia
							option(value="AW") Aruba
							option(value="AU") Australia
							option(value="AT") Austria
						br
						input(id="checkbox_enroll-1" type="checkbox" name="ship_to_different_address" value="1" class="checkbox_enroll")
						label.text-white(for="checkbox_enroll-1") I have read and I agree to the #[a.text-orange(href=jv0) Terms of Use] and #[a.text-orange(href=jv0) Privacy Policy]
						br
						input.mt-25(type="submit" name="woocommerce_checkout_place_order", value="GET STARTED", data-value="Update Totals" class="button-st1 orange")