.prise-extend
	
	&__heading-wrapper
		overflow hidden
		display inline-block
	
	&__heading
		text-align right
		
		&-item
			display flex
			float left
			align-content center
			align-items center
			font-family PTSans-Bold
			font-size pixelsToEm(30)
			color #318d8b
			
			&:last-of-type
				color #f26522
				
				& span
					margin-right 0	
			
			& span
				display block
				padding-left 10px
				margin-right 38px
			
			& img
				display block
	
	&__table
		display flex
		
		&-item.side-bar
			
			& .prise-extend__table-heading
				font-family PTSans-Bold
				padding 30px
				background-color #e3e3e3
				
				& .first-line
					font-size pixelsToEm(40)	
					color #2f8a88
				
				& .second-line
					font-size pixelsToEm(61)
					color #f26522
				
				& .third-line
					font-size pixelsToEm(35)
					color #f26522
			
			& .prise-extend__list._footer
				padding 18px
				background-color #e3e3e3
				
				& .prise-extend__list-item
					margin-bottom 30px
					text-transform uppercase
					font-family PTSans-Bold
					
					&:last-of-type
						margin-bottom 0
				

					& span
						display inline-block
						margin-left 15px
						color #2f8a88
		
		&-item
			& .prise-extend__table-heading
				color #fff
				min-width 218px
				text-transform uppercase
				font-family PTSans-Bold
				
			& .first
				margin 0 3px 3px 3px
				text-align center
				padding 25px 0 22px 0
				background-color #2f8a88
				line-height 32px
				
				span
					font-size pixelsToEm(36)					
				
				span:last-of-type
					font-size pixelsToEm(24)
			
			& .second
				margin 0 3px
				text-align center
				padding 15px 0 14px 0
				background-color #49b7b3
				line-height 22px
				font-size pixelsToEm(18)
				text-transform none
		
	&__list._content
			padding 3px 0
			
			& .prise-extend__list-item
				padding 10px 10px 10px 15px
				color #555555
				font-size pixelsToEm(18)
				min-height 38px
				
				&.padding-none
					padding 0
				
				&.text-green
					color #318a2f
					
					.circle
						border-radius 50%
						display inline-block
						border 3px solid
						font-size 16px
						padding 4px
						margin-top 4px
				
				&:nth-child(odd)
					background-color #f9f9f9
				
				& span
					display inline-block
					margin-left 15px
		
		
				
			
				
				
					
				