.prise-extend
	.prise-extend__heading
		.prise-extend__heading
			-heading = [{text: 'Testers', img: 'testers'}, {text: 'Refresher', img: 'refresher'}, {text: 'upgrade', img: 'upgrade'}, {text: 'Best value', img: 'best-value'}]
			each item in heading
				.prise-extend__heading-item
					img(src="assets/images/prise-extend/"+ item.img, alt="img")
					span
						=item.text

		.prise-extend__table
			.prise-extend__table-item
				.prise-extend__heading
					span It's time to #[br]
					span Choose #[br]
					span Your Course

				ul.prise-extend__list
					-list = [{text: '24/7 Tutor Support', icon: 'fa-life-ring'}, {text: 'Tech Support', icon: 'fa-cogs'}, {text: 'Full Library Access', icon: 'fa fa-book'}, {text: 'Skills Based Units', icon: 'fa-user-plus'}, {text: 'Intensive Grammar Units', icon: 'fa-font'}, {text: 'Comprehensive Phonology', icon: 'fa-bold'}, {text: 'Curriculum Development', icon: 'fa-level-up'}, {text: 'Designing Testing Systems', icon: 'fa-sticky-note'}, {text: 'Popularity', icon: 'fa-star'}]
					each elem in list
						li.prise-extend__list-item
							//- img(src="assets/images/prise-extend/"+ elem.img alt="img")
							i.fa(class=elem.icon)
							span
								=elem.text

				.prise-extend__footer
					ul.prise-extend__list
						li.prise-extend__list-item
							i(class="fa fa-hand-o-right" aria-hidden="true")
							span Talk to a TEFL Expert
						li.prise-extend__list-item
							i(class="fa fa-hand-o-right" aria-hidden="true")
							span Our special offers
						
						li.prise-extend__list-item
							i(class="fa fa-hand-o-right" aria-hidden="true")
							span FAQs



