.prise-extend
	
	&__heading-wrapper
		overflow hidden
		display inline-block
	
	&__table
		display flex
		
		&-title
			display flex
			height 47px
			margin-bottom 10px
			align-content center
			align-items center
			text-align center
			justify-content center
			padding-bottom 10px
			font-family PTSans-Bold
			font-size pixelsToEm(30)
			color #2b6990
			

			& span
				display block
				padding-left 10px
			
			& img
				display block
			
		
		&-item.side-bar
			margin-top 57px
			
			& .prise-extend__table-heading
				font-family PTSans-Bold
				padding 30px
				background-color #366d8f
				
				& .first-line
					font-size pixelsToEm(40)	
					color #fff
				
				& .second-line
					font-size pixelsToEm(61)
					color #ee9d41
				
				& .third-line
					font-size pixelsToEm(35)
					color #ee9d41
			
			& .prise-extend__list._footer
				padding 18px
				background-color #366d8f
				
				& .prise-extend__list-item
					margin-bottom 30px
					text-transform uppercase
					font-family PTSans-Bold
					
					&:last-of-type
						margin-bottom 0
				

					& span
						display inline-block
						margin-left 15px
						color #fff
					
					& i
						color #ee9d41
			
		&-item.accent
			
			.prise-extend__table-title
				color #f26522
			
			.prise-extend__table-heading 
				
				& .first
					background-color #f26522
					
					& img
						position absolute
						right 20px
						bottom -31px
						z-index 2
					
				& .second
					background-color #ee9d41
			
			.prise-extend__table-footer
				
				& .second
					background-color #ee9d41		
		
		&-item
			& .prise-extend__table-heading
				color #fff
				min-width 218px
				text-transform uppercase
				font-family PTSans-Bold
				
			& .first
				position relative
				color #fff
				margin 0 1.5px 3px 1.5px
				text-align center
				padding 29px 25px 19px 26px
				background-color #2f8a88
				line-height 32px
				
				span
					font-size pixelsToEm(36)					
				
				span:last-of-type
					font-size pixelsToEm(24)
			
			& .second
				display block
				color #fff
				margin 0 1.5px
				text-align center
				padding 14px 0 14px 0
				background-color #49b7b3
				line-height 22px
				font-size pixelsToEm(18)
				text-transform none
			
		&-footer
			font-family PTSans-Bold
			
			.first
				padding 20px 0 5px 0
				background-color transparent
				
				span
					color #4987ad
					font-size pixelsToEm(30)
					
				span:first-of-type
					color #475059
					font-size pixelsToEm(18)
					text-decoration line-through
			
			.second
				text-transform uppercase
			
			
		
	&__list._content
			padding 3px 0
			
			& .prise-extend__list-item
				padding 10px 10px 10px 15px
				color #555555
				font-size pixelsToEm(18)
				min-height 38px
				
				&.padding-none
					padding 0
				
				&.text-blue
					color #4987ad
					
					.circle
						border-radius 50%
						display inline-block
						border 3px solid
						font-size 16px
						padding 4px
						margin-top 4px
				
				&:nth-child(odd)
					background-color #f9f9f9
				
				& span
					display inline-block
					margin-left 15px
		
		
				
			
				
				
					
				