$fa-font-path = "../fonts"
$main-color = #376d8f
$orange = #efac1b

// Media Query Ranges
$small-screen-up = 601px
$medium-screen-up = 993px
$large-screen-up = 1201px
$small-screen = 600px
$medium-screen = 992px
$large-screen = 1200px

$medium-and-up = "only screen and (min-width : {$small-screen-up})" !default
$large-and-up = "only screen and (min-width : {$medium-screen-up})" !default
$small-and-down = "only screen and (max-width : 600px)" !default
$medium_and_down = "only screen and (max-width : 993px)" !default
$medium-only = "only screen and (min-width : 601px) and (max-width : 992px)" !default