extends /blocks/layout-default/layout-default
include ../blocks/banner/banner

block head
	- var pageTitle = 'My TEFL';
	- navbar_position_absolute = false;
	- whiteIcons = false;
	- footerSubBtn = true;

block content
	include ../blocks/nav-bar/nav-bar

	main.container
		.row.mt-100
			.col.l12
				.page-title-wrapper(style="background-image:url(assets/images/blog/blog-page-13.png)")
					h2.page-title.uppercase My tefl Blog
		.row.mt-50.mb-60.clearfix
			.col.l7
				//- blog def
				article.blog-def-item.single-page
					h3.title-st-2.blog-def-title #[a(href="#") Kung fu and culture: wrapping up my China Internship]
					.blog-post-info.mt-20
						p #[strong Transportation] Posted on 24-02-2016 by #[a.post-author(href='#') Kerry]
					img.mt-10.blog-pic(src="assets/images/blog/blog-page-12.png")
					.blog-def-content.mt-15
						p.content-p Volkswagen, bless its cheatin’ heart, is finally ready to start atoning for spoofing consumers with more than 10 million “clean” diesel cars around the world. On Thursday, the company proposed a plan to buy back the nearly 500,000 cars it fitted with emissions scamming software and sold in the US between 2008 and 2015. For owners who want to keep their cars, VW will repair them and toss in some extra cash for their trouble.#[br]#[br]Sure, many of those cars will go the refit route. But many—maybe most—will end up as junk. A lot of junk. So much junk, that if you dumped all those junked cars into the Grand Canyon … well, they wouldn’t really fill the thing up. But they would make some pretty bitchin’ new rapids along the Colorado River.#[br]#[br]As much as Volkswagen would love to toss its problems into a gaping abyss, it has to shuttle all that junk somewhere more productive. Basically, it’s got three options.#[br]#[br]Volkswagen, bless its cheatin’ heart, is finally ready to start atoning for spoofing consumers with more than 10 million “clean” diesel cars around the world. On Thursday, the company proposed a plan to buy back the nearly 500,000 cars it fitted with emissions scamming software and sold in the US between 2008 and 2015. For owners who want to keep their cars, VW will repair them and toss in some extra cash for their trouble.#[br]#[br]Sure, many of those cars will go the refit route. But many—maybe most—will end up as junk. A lot of junk. So much junk, that if you dumped all those junked cars into the Grand Canyon … well, they wouldn’t really fill the thing up. But they would make some pretty bitchin’ new rapids along the Colorado River.#[br]#[br]As much as Volkswagen would love to toss its problems into a gaping abyss, it has to shuttle all that junk somewhere more productive. Basically, it’s got three options. 
					.blog-share-icons.mt-20
						a(href="#")
							img.share-icon(src="assets/images/blog/blog-page-11.png")
						a(href="#")
							img.share-icon(src="assets/images/blog/blog-page-10.png")
						a(href="#")
							img.share-icon(src="assets/images/blog/blog-page-9.png")
						a(href="#")
							img.share-icon(src="assets/images/blog/blog-page-8.png")
						a(href="#")
							img.share-icon(src="assets/images/blog/blog-page-7.png")
						a(href="#")
							img.share-icon(src="assets/images/blog/blog-page-6.png")
				//- ! blog def
				.blog-comments
					.comments-header.clearfix
						span.button-minimize #[i -] #[span minimize]
						span.count-comments 57 comments
						span.count-reaction 18 reactions
						img.rate-stars(src="assets/images/blog/images/blog-inner-1.png")
					.comments-enter.clearfix
						img.comments-avatar(src="assets/images/blog/images/blog-inner-2.png")
						textarea.comments-leave-message(placeholder="Leave a message...")
					.nav-comments.clearfix
						span.button-nav-comment Discussion #[i.fa.fa-caret-down]
						span.button-nav-comment Community
						span.button-nav-comment My Disqus
						div.right-nav-comments
							span Share #[i.fa.fa-caret-down]
							span  #[i.fa.fa-gear ] #[i.fa.fa-caret-down]
					.comments-block
						.comment-block.clearfix
							img.comments-avatar(src="assets/images/blog/images/blog-inner-3.png")
							.comment-content
								.comment-info
									span.comment-author DarkUFO 
									span.time a month ago
								.comment-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, assumenda eum totam id necessitatibus dicta saepe delectus eaque ut recusandae.
								.comment-footer #[span 12 #[i.fa.fa-chevron-up]] #[i |]  #[span 1 #[i.fa.fa-chevron-down]] #[span.reply Reply] #[span.share Share]
					.comments-block
						.comment-block.clearfix
							img.comments-avatar(src="assets/images/blog/images/blog-inner-4.png")
							.comment-content
								.comment-info
									span.comment-author DarkUFO 
									span.time a month ago
								.comment-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, assumenda eum totam id necessitatibus dicta saepe delectus eaque ut recusandae.
								.comment-footer #[span 12 #[i.fa.fa-chevron-up]] #[i |]  #[span 1 #[i.fa.fa-chevron-down]] #[span.reply Reply] #[span.share Share]
					.comments-block
						.comment-block.clearfix
							img.comments-avatar(src="assets/images/blog/images/blog-inner-5.png")
							.comment-content
								.comment-info
									span.comment-author DarkUFO 
									span.time a month ago
								.comment-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, assumenda eum totam id necessitatibus dicta saepe delectus eaque ut recusandae.
								.comment-footer #[span 12 #[i.fa.fa-chevron-up]] #[i |]  #[span 1 #[i.fa.fa-chevron-down]] #[span.reply Reply] #[span.share Share]
			.col.l5
				//- widget
				aside.widget-wrapper.widget-search
					h4.widget-title.title-st-1.text-center.mb-20 SEARCH OUR BLOG
					form(method="get" class="search-form" action="#")
						label
							input(type="search" class="search-field" placeholder="Search blog" value="" name="s" title="Search for:")
				//- ! widget
				//- widget
				aside.widget-wrapper.widget-select(style="background-color:#366d8f;")
					h4.widget-title.title-st-1.text-center.mb-20.uppercase.text-orange countries
					form(method="get" class="widget-selection" action="#")
						select.widget-select-country(name="billing_country")
							option Select a country...
							option(value="") Select a country…
							option(value="AX") Åland Islands
							option(value="AF") Afghanistan
							option(value="AL") Albania
							option(value="DZ") Algeria
							option(value="AD") Andorra
							option(value="AO") Angola
							option(value="AI") Anguilla
							option(value="AQ") Antarctica
							option(value="AG") Antigua and Barbuda
							option(value="AR") Argentina
							option(value="AM") Armenia
							option(value="AW") Aruba
							option(value="AU") Australia
							option(value="AT") Austria
				//- ! widget
				//- widget
				aside.widget-wrapper.widget-categories
					h4.widget-title.title-st-1.text-center.mb-10.uppercase Categories
					.row
						.col.l6
							a.cat-link(href="#") Country information
							a.cat-link(href="#") TEFL tips and advice
						.col.l6
							a.cat-link(href="#") Our teachers' stories
							a.cat-link(href="#") TEFL videos
				//- ! widget
				//- widget
				aside.widget-wrapper.widget-recent-post
					h4.widget-title.title-st-1.text-center.mb-10.uppercase Categories
					.row
						.col.l12
							a.recent-post-link(href="#") What's it really like on the LoveTEFL Thailand Internship?
							a.recent-post-link(href="#") A day in the life: teaching in Kanchanaburi
							a.recent-post-link(href="#") Thailand internship: My final week!
							a.recent-post-link(href="#") Seaside Sihanoukville: relaxing by the beach
							a.recent-post-link(href="#") Intern life & our house in Kanchanaburi
							a.recent-post-link.more-post(href="#") More Post >
				//- ! widget
				//- widget
				aside.widget-wrapper.email.clearfix
					img.float-left(src="assets/images/blog/blog-page-4.png")
					p.content-p If you’d like to write for us, or for us to share your LoveTEFL travel writing, please email #[a.strong(href="#") blogs@lovetefl.com]
				//- ! widget
				//- widget
				aside.widget-wrapper.clearfix
					img.wp-plugin(src="assets/images/blog/blog-page-3.png")
					img.wp-plugin.mt-25(src="assets/images/blog/blog-page-1.png")
				//- ! widget


	include ../blocks/footer/footer