extends /blocks/layout-default/layout-default
include ../blocks/banner/banner

block head
	- var pageTitle = 'My TEFL';
	- navbar_position_absolute = false;
	- whiteIcons = false;
	- footerSubBtn = true;

block content
	include ../blocks/nav-bar/nav-bar

	main
		.container
			.row.mt-100
				.col.l12
					.page-title-wrapper.mb-10.alt(style="background-image:url(assets/images/about-us/faq-1.png)")
						h2.page-title FAQs
						h3.page-slog Have Questions? We have Answers!
			.row.mt-40.mb-50.clearfix
				.col.l7
					div(class="accordion")
						div(class="content-title")
							i(class="accordion-icon")
							| What is TEFL?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| What is the difference between TESOL, TESL, TEFL?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| How long does it take to complete a myTEFL.net course?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| Can I apply for a work permit or work visa in foreign countries with myTEFL.net’s certificate?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| Can I apply for a job before I pass the course?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| Can myTEFL match or beat a competitor's price?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| Does the TEFL certificate expire?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| Can myTEFL.net help me secure a job?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| Is myTEFL.net an accredited provider of TEFL courses?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| Is a myTEFL course eligible for the CLAIR Grant (JET Program)?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| How do I book a course?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| What constitutes a passing score at myTEFL.net?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| I don't have a degree; is teaching English an option for me?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| How is the final grade calculated?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| How do I contact my Tutor?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| When will I get my certificate?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						div(class="content-title")
							i(class="accordion-icon")
							| Do I have to be a native English speaker to benefit from a TEFL course?
						div(class="content") TEFL stands for “Teaching English as a Foreign Language.” The student’s native language is not English while the teacher may or may not be a native English speaker.#[br]#[br]Demand for TEFL has never been higher with students all over the world actively seeking to learn English. TEFL used to be a mainly private sector industry, in which the student centric, communicative approach was a departure from the stiff traditional English methodologies employed in public school systems. However, that has changed in recent years with public education systems around the world seeking qualified TEFL trainers for updated programs, goals, and better results.#[br]#[br]There are many settings in which TEFL takes place including:
							ul.list-st1.content-p
								li public schools
								li private training schools
								li summer or winter learning camps
								li universities
								li employee training
								li government sponsored programs
						a(class="help-title text-main-color", href="#")
							i(class="accordion-icon")
							| Is there a way to review my examination answers?
				.col.l5
					.widget-banner-discount.text-center
						div.first-header.uppercase Congratulations!#[br] #[span.text-main-color Your discount was activated]
						div.bigest-header.uppercase.mt-15.mb-10 #[strong Get started!]
						.del-price-banner.uppercase.text-main-color.mb-10 120 Hour TEFL Only $299!
						.cur-price.uppercase.mb-40 #[strong 120 Hour TEFL Only #[span.text-orange $99!] ]
						a.button-st1.full-width.uppercase.alt.text-orange(href="#") ENROLL NOW
					.widget-banner-discount.text-center.mt-15
						.middle-header.uppercase.text-orange Train with a buddy
						.middle-plus-header.uppercase.text-orange.mb-20 And get 35% off
						a.button-st1.full-width.uppercase.alt.text-orange(href="#") view all promos
					.k-img-banner-wrapper.mt-15.small
						img.block-center(src="assets/images/about-us/faq-2.png")
					.k-img-banner-wrapper.mt-15.small
						img.block-center(src="assets/images/about-us/faq-3.png")
					.widget-latest-comments.mt-15
						.comment-list
							.comment-item
								img.avatar(src='assets/images/about-us/images/about-us-7.png')
								.comment-text
									p.meta Tanya,
										time(datetime="2016-06-07T12:14:53+00:00") May 2016
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							.comment-item
								img.avatar(src='assets/images/about-us/images/about-us-8.png')
								.comment-text
									p.meta Tanya,
										time(datetime="2016-06-07T12:14:53+00:00") May 2016
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						div.text-center
							a.button-st1.mt-15.uppercase(href="#") read more


	include ../blocks/banner-blue/banner-blue
			
	include ../blocks/footer-banner/footer-banner
	include ../blocks/footer/footer