extends /blocks/layout-default/layout-default
include ../blocks/banner/banner
include ../blocks/circle-group/circle-group
include ../blocks/article/article

block head
	- var pageTitle = 'My TEFL';
	- navbar_position_absolute = true;
	- whiteIcons = true;
	- footerSubBtn = true;

block content
	include ../blocks/nav-bar/nav-bar

	+banner({
		imgSrc: "assets/images/home_page_banner.jpg",
		banner_mode_class: "_page_home",
		bannerBeforeText: {
			lineFist: "Want to teach English and live abroad?",
			lineSecond: "We make it happen!"
		},
		bannerTitle: "Accredited TEFL Courses.",
		bannerTitleSecondLine: "Real Job Placements",
		btn: "GET A FREE LESSION",
		calendar: [
			{
				integer: "12",
				text: "Days"
			},
			{
				integer: "05",
				text: "Hours"
			},
			{
				integer: "36",
				text: "Minutes"
			}
		],
		bannerSearch: true
	})

	.container
		+circle-group([
			{
				imgSrc: "assets/images/circle-group/courses.png",
				title: "Courses",
				text: "Accredited TEFL training and certification.",
				btnText: "GET CERTIFIED"
			},
			{
				imgSrc: "assets/images/circle-group/tefl-programs.png",
				title: "TEFL Programs",
				text: "Get experience, training and see the world!",
				btnText: "BOOK ADVENTURE"
			},
			{
				imgSrc: "assets/images/circle-group/job-placements.png",
				title: "Job Placements",
				text: "Graduate with us and Get employed.",
				btnText: "GET EMPLOYED"
			}
		], isHeading=true, isBtnDown=true)
	
	include ../blocks/prise/prise

	.row.flex.mb-0
		.col.l6.m6.s12.padding-right.padding-left
			img(src="assets/images/page_home/img-1.jpg" alt="img" width="100%" height="100%")

		+article([
				{
					title: 'Make a Difference',
					items:[
						{
							text: "When you enrol in any myTEFL course, we make a donation in your name. Together, we can help make a difference.",
							buttonText: "Learn more"
						}
					]
				}
			])(class="article_page_home")

	include ../blocks/map/map
	
	include ../blocks/banner-blue/banner-blue

	include ../blocks/course-enroll/course-enroll

	include ../blocks/footer-banner/footer-banner
	include ../blocks/footer/footer