extends /blocks/layout-default/layout-default
include ../blocks/banner/banner

block head
	- var pageTitle = 'My TEFL';

-var jv0 = "javascript:void(0);";

block content
	include ../blocks/nav-bar/nav-bar

	+banner({
		imgSrc: "assets/images/Internships_main_page_banner.jpg",
		bannerTitle: "TEFL Internships",
		bannerSubTitle: "Complete Teach & Travel Packages!",
		bannerText: "no degree? no experience?",
		bannerText2: "no problem!"
		})

	include ../blocks/footer/footer
		

	
