extends /blocks/layout-default/layout-default
include ../blocks/circle-group/circle-group

block head
	- var pageTitle = 'My TEFL';
	- navbar_position_absolute = false;
	- whiteIcons = false;
	- footerSubBtn = false;

block content
	include ../blocks/nav-bar/nav-bar

	include ../blocks/promo-banner/promo-banner
	
	.title-lead.text-center.mt-40.mb-40.uppercase TEFL program Thailand

	.container.mt-40.mb-40
		.k-gallery-grid
			- imagesForGalary = ['inner-internships-page-gallery-1.jpg', 'inner-internships-page-gallery-2.jpg', 'Inner-internships-page-gallery-3.jpg', 'Inner-internships-page-gallery-4.jpg', 'Inner-internships-page-gallery-5.jpg']
			each item in imagesForGalary
				.gallery-item
					img(src="assets/images/gallery/" + item)
	
	.container
		.row
			.col.l7.m7.s12
				.blog-item
					.title-st-2.mb-20.uppercase(style="color:#555555;") Overview
					p(style="margin-bottom:35px;") An amazing opportunity to get paid to teach and travel in extraordinary Thailand, the “Land of Smiles”!
					p Now, imagine earning a salary teaching English while living the dream! After completing our 120 Hour Online TEFL Course, pack your bags and head out to Hua Hin for a one week Thai Orientation program. Here you'll meet up with other teachers from around the world, and receive an introduction to the country, the school system, the culture, the language, survival tips and much more.
					p Upon successful completion of your orientation course, you'll be placed in a paid teaching position with a minimum guaranteed salary that is enough to cover your expenses and then some.

			.col.l5.m5.s12.hide-on-small-only
				include ../blocks/program-total/program-total


		.row
			.col.l12.m12.s12
				.title-st-2.mb-20.uppercase.text-center-sm(style="color:#555555;") Course Benefits
			.col.l12.m12.s12
				.circle-group-small.mb-40
					+circle-group-item({
						imgSrc: "assets/images/circle-group/120-hour-tefl.png",
						title: "120 Hour TEFL Course",
						text: "Sed ut perspiciatis unde omnis iste natus error.",
					})
					+circle-group-item({
						imgSrc: "assets/images/circle-group/hands-on-training.png",
						title: "hands on training",
						text: "Sed ut perspiciatis unde omnis iste natus error.",
					})
					+circle-group-item({
						imgSrc: "assets/images/circle-group/accommodation.png",
						title: "Accommodation",
						text: "Sed ut perspiciatis unde omnis iste natus error.",
					})
					+circle-group-item({
						imgSrc: "assets/images/circle-group/gauranteed-job.png",
						title: "Gauranteed job",
						text: "Sed ut perspiciatis unde omnis iste natus error.",
					})
					+circle-group-item({
						imgSrc: "assets/images/circle-group/salary.png",
						title: "Salary",
						text: "Sed ut perspiciatis unde omnis iste natus error.",
					})

			.row
				.col.l7.m7.s12
					.blog-item_border.mb-20
						.title-st-2.uppercase.mt-20(style="color:#555555;") Pre trip
						ul.list-st1.content-p.mb-20
							li Complete your 120 Hour Online TEFL course
							li Make sure your vaccines are up to date
							li Purchase insurance (may be purchased at a discounted rate in Thailand through us)
							li Purchase a plane ticket
							li Pack your bags!

					.blog-item_border.mb-20.mt-0
						.title-st-2.uppercase.mt-20.mb-30(style="color:#555555;") #[i.icon-before.text-orange.fa.fa-calendar] Start dates
						include ../blocks/calendar/calendar

					
					.blog-item.blog-item_border_blue.show-on-small-only.hide-on-med-and-up.mt-40.mb-40
						.title-st-2.mt-20.uppercase(style="color:#555555;") What’s included:
						ul.list-st1.content-p.mb-20
							li Complete your 120 Hour Online TEFL course
							li Pre-Departure Preparation Assistance
							li Airport Pickup & Transfers from Bangkok
							li 1 Week Thailand Orientation ProgramPurchase a plane ticket
							li Cultural Activities & Excursions
							li Job Placement with Salary Guarantee
							li Standard Thai Sim Card
							li Assistance with Opening Thai Bank Account
							li 24/7 on the Ground Assistance in Thailand

						hr
						
						.title-st-2.mt-15.uppercase(style="color:#555555;") Requirements:
						ul.list-st1.content-p.mb-20
							li Applicants must be between 18 and 55 years old
							li Fluent English
							li CA, US, UK, SA, AU, or NZ Pasport Holder

					.show-on-small-only.hide-on-med-and-up.mt-40.mb-40(style="padding-left:0")
						include ../blocks/program-total/program-total

					.blog-item.blog-item_border.mt-0
						.avatar.mt-30
							|01
						.content.mt-30
							.title-st-2.mb-25.uppercase(style="color:#555555;") Arrival and Accommodations 
							p(style="margin-bottom:35px;") You will be met at the Bangkok airport and transported directly to Hua Hin. Or, you might want to explore Bangkok for a few days and then call for your ride to the Orientation program. We offer a discounted corporate hotel in Hua Hin for trainees, or our in country team can assist you with finding other accommodations that suit your desires and budget.
							p.text-orange(style="font-weight:bold;") #[i You will also be provided with a local SIM card, along with documentation & assistance to open a local bank account.]

					.blog-item.blog-item_border.mt-0
						.avatar.mt-30
							|02
						.content.mt-30
							.title-st-2.mt-20.mb-25.uppercase(style="color:#555555;") Orientation 
							p(style="margin-bottom:35px;") Once settled in, you will begin your one week Orientation program with other TEFL certified teachers from around the world. This is a great time to explore the area with fellow teachers, check out some vibrant night markets, and sample the delicious food on offer all around you!
							p The program includes a Teachers' Workshop (a great complement to your TEFL course, a Thai Culture & Politics segment (to understand the country and people you will be working with), and a Thai Language component (for basic communications, helpful phrases, ordering food etc).
							p There will be at least one cultural excursion during this week which may include a Thai Cooking class, a Muay Thai Taster session, volunteering with elephants, visiting the King's Palace and more. There will also be a ‘Welcome to Thailand' dinner at the end of the Orientation component of the program.

					.blog-item.blog-item_border.mt-0
						.avatar.mt-30
							|03
						.content.mt-30
							.title-st-2.mt-20.mb-25.uppercase(style="color:#555555;") Placement 
							p(style="margin-bottom:35px;") During the end of the Orientation, our in-country team will help with resume revision & formatting, including the option of adding video or audio components. We will organize and facilitate interviews, ensuring you receive a six month placement with a minimum salary that goes far in Thailand. Many of our placements will be in small towns and village schools that might have never had a native English speaking teacher before! You have the chance to make a big impact on your students' learning careers!
							p Degree holders will receive a minimum salary of between 25,000 – 35,000 THB, while non-degree holders will receive a base salary of 20,000 – 30,000 THB per month. Our in country team will screen any job offers, provide advice, and make sure you are ready to focus on teaching and enjoying your new adventure! You may request a one year placement for no additional fees.

					.blog-item.blog-item_border.mb-20.mt-0
						.avatar.mt-30
							|04
						.content.mt-30
							.title-st-2.mt-20.mb-25.uppercase(style="color:#555555;") Post Program 
							p(style="margin-bottom:35px;") Besides completing a 120 Hour TEFL, you will receive a letter of recommendation outlining the training you have received, and the teaching experience you have accumulated. This will go a long way when applying for future teaching positions anywhere in the world! Many of our graduates choose to travel throughout SE Asia after teaching and saving some money, while some may decide to stay in Thailand and pick up a new TEFL position independently!
					
					.row.mb-0
						.col.l6.m6.s6.mb-md-20
							a.button-st1.full-width.uppercase.alt.text-orange(href="#") Secure your spot
						.col.l6.m6.s6.mb-md-20
							a.button-st1.full-width.uppercase.alt.text-orange(href="#") Request a Consultation

				.col.l5.m5.s12
					include ../blocks/brochure/brochure
					
					.blog-item.blog-item_border_blue.mt-20.hide-on-small-only
						.title-st-2.mt-20.uppercase(style="color:#555555;") What’s included:
						ul.list-st1.content-p.mb-20
							li Complete your 120 Hour Online TEFL course
							li Pre-Departure Preparation Assistance
							li Airport Pickup & Transfers from Bangkok
							li 1 Week Thailand Orientation ProgramPurchase a plane ticket
							li Cultural Activities & Excursions
							li Job Placement with Salary Guarantee
							li Standard Thai Sim Card
							li Assistance with Opening Thai Bank Account
							li 24/7 on the Ground Assistance in Thailand

						hr
						
						.title-st-2.mt-15.uppercase(style="color:#555555;") Requirements:
						ul.list-st1.content-p.mb-20
							li Applicants must be between 18 and 55 years old
							li Fluent English
							li CA, US, UK, SA, AU, or NZ Pasport Holder
							
	hr

	.title-lead.text-center.mt-40.mb-40.uppercase Other TEFL Programs

	.container.mt-40
		.k-gallery-grid.k-gallery-grid-footer
			- imagesForFooterGalary = [{img: 'thailand.png', title: 'Thailand'}, {img: 'argentina.png', title: 'Argentina'}, {img: 'china.png', title: 'China' }, {img: 'africa.png', title: 'Africa'}]
			each item, i in imagesForFooterGalary
				a.gallery-item(href=jv0)
					img(src="assets/images/inner_internships_page/" + item.img)
					.gallery-title(class=i===2 ? "text-orange" : "")
						=item.title
			
	include ../blocks/footer-banner/footer-banner
	include ../blocks/footer/footer

