extends /blocks/layout-default/layout-default
include ../blocks/banner/banner

block head
	- var pageTitle = 'My TEFL';
	- navbar_position_absolute = false;
	- whiteIcons = false;
	- footerSubBtn = true;

block content
	include ../blocks/nav-bar/nav-bar

	.title-lead.text-center.mt-100 Online TEFL Courses
	.title-st-2.text-center.mb-30 Get qualified to teach abroad!

	p.text-center.mb-30 Whether you are a total beginner looking for a comprehensive TEFL program, or a veteran seeking to upgrade your classroom #[br] management skills, we have the right solution for you!

	include ../blocks/discount/discount
	
	.container
		include ../blocks/prise-extend/prise-extend
	
	include ../blocks/discount-large/discount-large

	.container
		.row.mt-30.mb-0
			.col.l6
				.k-img-banner-wrapper
					img.block-center(src="assets/images/about-us/images/about-us-6.png")
			.col.l6
				.widget-latest-comments
					.comment-list
						.comment-item
							img.avatar(src='assets/images/about-us/images/about-us-7.png')
							.comment-text
								p.meta Tanya,
									time(datetime="2016-06-07T12:14:53+00:00") May 2016
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						.comment-item
							img.avatar(src='assets/images/about-us/images/about-us-8.png')
							.comment-text
								p.meta Tanya,
									time(datetime="2016-06-07T12:14:53+00:00") May 2016
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
					div.text-center
						a.button-st1.mt-15.uppercase(href="#") read more

			
	include ../blocks/footer-banner/footer-banner
	include ../blocks/footer/footer
