extends /blocks/layout-default/layout-default
include ../blocks/banner/banner
include ../blocks/circle-group/circle-group

block head
	- var pageTitle = 'My TEFL';
	- navbar_position_absolute = false;
	- whiteIcons = false;
	- footerSubBtn = true;

block content
	include ../blocks/nav-bar/nav-bar
	include ../blocks/promo-banner/promo-banner
	main
		.container
			.row.mt-30.mb-40
				.col.l12
					.title-lead.mt-40.mb-30.uppercase.text-center promotions
					.content-p.text-center.mb-70 Get your Deals and Steals here!
					.promo-page-title.uppercase.mb-20 Price match
					.promos-banner.pt-40.pb-40(style="background-image:url(assets/images/promos/images/promos-1.png)")
						.wrapper-1
							img.top(src="assets/images/promos/images/promos-6.png")
						.wrapper-2
							.tx-size-41.uppercase.dark-orange.tx-bold found a lower priced TEFL cOurse?
							.tx-size-46.uppercase.tx-bold.text-white.mb-15 We'll beat it!
							.tx-size-18.uppercase.tx-bold.text-white Email us any comparable Online TEFL course, and we'll not only#[br] match their price, we'll knock another
							.tx-size-76.uppercase.dark-orange.tx-bold 10% off
						.wrapper-3
							a.button-st1.full-width.uppercase.alt.orange-bg(href="#") Learn more...
					.promo-page-title.uppercase.mb-20.mt-25 Student special
					.promos-banner.pt-30.pb-30(style="background-image:url(assets/images/promos/images/promos-2.png)")
						.wrapper-1
							img.block-center(src="assets/images/promos/images/promos-5.png")
						.wrapper-2
							.tx-size-50.uppercase.text-main-color.tx-bold On a tight student budget?
							.tx-size-46.uppercase.tx-bold.text-white.mb-15 No worries!
							.tx-size-18.uppercase.tx-bold.text-white We've been in your shoes before!#[br]Send us proof of enrollment in a post secondary institution#[br]or recent graduation and we'll give you
							.tx-size-76.uppercase.dark-orange.tx-bold 10% off
						.wrapper-3
							a.button-st1.full-width.uppercase.alt.orange-bg(href="#") Apply now
					.promo-page-title.uppercase.mb-20.mt-25 TEFL buddies
					.promos-banner.pt-50.pb-50(style="background-image:url(assets/images/promos/images/promos-3.png)")
						.wrapper-1.top-center
							img.top-center(src="assets/images/promos/images/promos-4.png")
						.wrapper-2
							.tx-size-50.uppercase.dark-orange.tx-bold Signing up with a buddy?
							.tx-size-76.uppercase.dark-orange.tx-bold save 35% each!
							.tx-size-18.uppercase.tx-bold.text-white.mt-5 Planning on going abroad to teach with one of your mates,#[br]boyfriend or girlfriend?#[br]Contact us to get your Buddy Discount code.
							
						.wrapper-3
							a.button-st1.full-width.uppercase.alt.orange-bg(href="#") Apply now
			.row.mb-0
				.col.l6
					.k-img-banner-wrapper
						img.block-center(src="assets/images/about-us/images/about-us-6.png")
				.col.l6
					.widget-latest-comments
						.comment-list
							.comment-item
								img.avatar(src='assets/images/about-us/images/about-us-7.png')
								.comment-text
									p.meta Tanya,
										time(datetime="2016-06-07T12:14:53+00:00") May 2016
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							.comment-item
								img.avatar(src='assets/images/about-us/images/about-us-8.png')
								.comment-text
									p.meta Tanya,
										time(datetime="2016-06-07T12:14:53+00:00") May 2016
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						div.text-center
							a.button-st1.mt-15.uppercase(href="#") read more
	include ../blocks/footer-banner/footer-banner
	include ../blocks/footer/footer