extends /blocks/layout-default/layout-default
include ../blocks/banner/banner

block head
	- var pageTitle = 'My TEFL';
	- navbar_position_absolute = false;
	- whiteIcons = false;
	- footerSubBtn = true;

block content
	include ../blocks/nav-bar/nav-bar

	main
		.container
			.row.mt-100
				.col.l12
					.page-title-wrapper.mb-10.alt(style="background-image:url(assets/images/tefl-dest-header.jpg)")
						h2.page-title TEFL DESTINATIONS
						h3.page-slog See where myTEFL can take you!
			.row
				.col.l12
					//- blog item
					article.blog-item
						.row
							.col.l7
								p.mb-25 If you are an adventurous soul, and would like to explore exotic locations while teaching English you are in luck! Why not chow down on Peking duck in Beijing, participate in Brazil’s infamous Carnival, or go river tracing in Hualien, Taiwan? Your accredited TEFL certificate opens many doors and gives you access to a world of exciting opportunity!
								a.button-st1(href="#") VIEW COURSES
							.col.l5
								.media-part
									.context.text-center
										i.context-icon.fa.fa-calendar
										.title-st-2.mb-15 Title Here
										p.mb-15 Your lorem ipsum dolore text will goes here.
										a.context-link(href='#') Your link here
									.pic
										img(src="assets/images/blog/blog-1.jpg")
					//- ! blog item
					//- blog item
					article.blog-item
						.row
							.col.l5
								.media-part
									.pic
										img(src="assets/images/blog/blog-2.png")
									.context.text-center
										i.context-icon.fa.fa-calendar
										.title-st-2.mb-15 Title Here
										p.mb-15 Your lorem ipsum dolore text will goes here.
										a.context-link(href='#') Your link here
							.col.l7
								.title-st-2.mb-20 TITLE GOES HERE
								p.mb-25 The links below provide information on popular TEFL job destinations and current vacancies. Even if these positions are filled, we have hundreds of employers and positions eager for myTEFL.net graduates. These listings are a good way to gauge salary packages and benefits when carefully choosing a final destination and employer. 
					//- ! blog item
					//- blog item
					article.blog-item
						.row
							.col.l7
								.title-st-2.mb-20 TITLE GOES HERE
								p.mb-25 Equipped with a myTEFL.net TEFL certificate, a professional resume and cover letter, you’ll be eligible for TEFL positions around the world. We will guide and assist you the entire way through the process, and provide comprehensive resources to ensure you get a great start in the TEFL world! With our reputation and contacts, you can often be hired even before completing your course! 
								a.button-st1(href="#") VIEW COURSES
							.col.l5
								.media-part
									.pic
										img(src="assets/images/blog/blog-3.jpg")
									.context.text-center
										i.context-icon.fa.fa-calendar
										.title-st-2.mb-15 Title Here
										p.mb-15 Your lorem ipsum dolore text will goes here.
										a.context-link(href='#') Your link here
					//- ! blog item
		hr
		.container.mt-40.mb-30
			.k-gallery-grid
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-1.png")
					.gallery-title KOREA
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-2.png")
					.gallery-title Argentina
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-3.png")
					.gallery-title Spain
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-4.png")
					.gallery-title COLOMBIA
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-5.png")
					.gallery-title China
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-6.png")
					.gallery-title Brazil
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-7.png")
					.gallery-title CAMBODIA
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-8.png")
					.gallery-title Chile
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-9.png")
					.gallery-title czech republic
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-10.png")
					.gallery-title Indonesia
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-11.png")
					.gallery-title Italia
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-12.png")
					.gallery-title Japan
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-13.png")
					.gallery-title Mexico
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-14.png")
					.gallery-title Oman
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-15.png")
					.gallery-title PHILIPPINES
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-16.png")
					.gallery-title Poland
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-17.png")
					.gallery-title SAudi Arabia
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-18.png")
					.gallery-title TAiwan
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-19.png")
					.gallery-title Turkey
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-20.png")
					.gallery-title UAE
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-21.png")
					.gallery-title Venezuela
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-22.png")
					.gallery-title Vietnam
				//- ! gallery item
				//- gallery item
				.gallery-item
					img(src="assets/images/gallery/gallery-23.jpg")
					.gallery-title And More
				//- ! gallery item
		include ../blocks/banner-blue/banner-blue
		include ../blocks/course-enroll/course-enroll
		include ../blocks/footer-banner/footer-banner
	include ../blocks/footer/footer