.discount
	padding 10px 0
	font-family PTSans-Bold
	color #555555
	font-size pixelsToEm(24)
	background-color #f4f4f4
	
	& span
		color #f26522
	
	& input
		background-color transparent
		border none
		border-bottom 1px solid #366d8f