.article
	@media $medium_and_down
		margin-left 20px
	
	&_border
		border 1px solid #d9d9d9
		border-radius 3px
		padding 35px 40px 30px 15px 
	
	&__title
		padding 50px 0
		font-size pixelsToEm(24)
		font-family PTSans-Bold
		color #366d8f
		text-transform uppercase
		
		&_align_right
			text-align right
		
		&-icon
			float right
			margin-left 10px
	
	&__content
		padding-top 6px
		padding-left 10px
		overflow hidden
	
	&__item
		margin-bottom 57px
		@media $medium_and_down
			padding-right 20px
		
		&:last-of-type
			margin-bottom 40px
		
		&-avatar
			float left
		
		&-title
			 @extend .article__title
			 padding 0 0 18px 0
			 font-size pixelsToEm(18)
		 
		&-text
			line-height pixelsToEm(20)
	
	&_page_home
		padding-left 40px !important
		background-color #ededed
		
		& .article__title
			padding-top 77px
			padding-bottom 50px
			font-size pixelsToEm(32)
			@media $medium_and_down
				display none
			
		.article__content
			padding-left 0
			max-width 530px
			@media $medium_and_down
				max-width inherit
				margin-top 35px
				text-align center
		
		.article__item-text
			margin-bottom 54px
			color #888888
			font-size 24px
			
			