.banner
	
	&__img
		height auto
	
	&__container
		position absolute
		top pixelsToEm(275)
		color white
		width 100%
		text-align center
	
	&__title
		margin-bottom 30px
		font-family PTSans-Bold
		font-size pixelsToEm(100)
	
	&__subtitle
		font-family PTSans-Bold
		font-size pixelsToEm(38)
		margin-bottom pixelsToEm(107)
	
	&__text
		color #efac1b
		font-family PTSans-Bold
		font-size pixelsToEm(30)
		text-transform uppercase
		line-height 36px