.banner
	position relative
	overflow hidden
	
	&_page_home
		background-image url('/assets/images/home_page_banner.jpg')
	
	&_internships-main_page
		background-image url('/assets/images/Internships_main_page_banner.jpg')
	
	&_page_online-courses-inner
		background-image url('/assets/images/online-courses-inner-page/online-courses-inner-banner.jpg')
		background-position 32%
	
	
	&__img
		display block
		height auto
	
	&__container
		color white
		width 100%
		text-align center
		
		&_page_home
			margin-top 185px
		
		&_internships-main_page
			margin-top 313px
		
		&_page_online-courses-inner
			margin-top 139px
	
	&__title
		margin-bottom 30px
		text-transform uppercase
		font-family PTSans-Bold
		font-size pixelsToEm(87)
		
		span:first-of-type
			display block
			margin-bottom 12px
		
		span:last-of-type
			color #e7aa26
		
		&_page_online-courses-inner
			font-size pixelsToEm(100)
			
			& span
				color #fff !important
	
	&__subtitle
		font-family PTSans-Bold
		font-size pixelsToEm(38)
		margin-bottom 107px
	
	&__text
		color #efac1b
		font-family PTSans-Bold
		font-size pixelsToEm(30)
		text-transform uppercase
		line-height 36px
		margin-bottom 99px
		
		&_color_white
			color #fff
			margin-bottom 3px
	
	&__text-before
		margin-bottom 60px
		font-family PTSans-Bold
		
		& span
			font-size pixelsToEm(58)
			
			&:first-of-type
				display block
				margin-bottom 10px
				font-size pixelsToEm(43)

	
	&__footer
		
		&-btn
			display inline-block
			padding 10px 44px
			margin-top 12px
			font-family PTSans-Bold
			color #efac1b
			border 3px solid #efac1b
		
			&_down
				position relative
				width 44px
				height 44px
				margin 0 auto
				border 3px solid #fff
				border-radius 6px
				clear both
				cursor pointer
			
				&:after
					display block
					position absolute
					top 11px
					z-index 2
					content ''
					height 6px
					width 6px
					border 3px solid
					border-radius 4px
					border-color transparent
					border-right-color #fff
					border-bottom-color #fff
					transform rotate(45deg)
					left 13px
			
			&_page_home
				margin-top 3.5vh
				margin-bottom 3vh
			
			&_internships-main_page
				margin-bottom 27px
			
			&_page_online-courses-inner
				margin-top 25vh
				margin-bottom 27px
		
		
		&-calendar
			width 290px
			margin 0 auto
			margin-top 43px
			margin-bottom 20px
			overflow hidden
			
			&-item
				position relative
				float left
				margin-right 5px
				
				&:last-of-type
					margin-right 0
					
			&-integer
				float left
				margin-right 1px
				position relative
				width 45px
				height 55px
				padding-top 7px
				margin-top 10px
				font-family PTSans-Bold
				font-size pixelsToEm(39)
				color #555
				background #fefefe
				border-radius 4px
				background linear-gradient(to bottom,  #fefefe 0% , #f0f0f0 51%, #dcdcdc 100%)
				
				&:after
					position absolute
					top 49%
					left 0
					width 100%
					height 2px
					content ''
					background-color #d3d3d3
					z-index 1
			
			&-text
				text-transform uppercase
				font-size pixelsToEm(12)
			
			&-title
				margin-bottom 8px
				color #e7aa26
				font-family PTSans-Bold
				font-size pixelsToEm(39)
				text-transform uppercase
	
	&__search
		
		& .col
			padding 0
		
		&-blue
		&-yellow,
			position relative
			padding 38px 38px 38px 0
			background-color rgba(56, 102, 129, .9)
			overflow hidden
		
		&-yellow
			background-color rgba(231, 170, 37, .9)
			padding-right 0
			
			.banner__search-content
				float none
				padding-left 37px
			
			.banner__search-input
				margin-left 7px
				
		
		&-content
			position relative
			display inline-block
			float right
		
		&-title
			font-family PTSans-Bold
			font-size pixelsToEm(30)
			color #fff
		
		&-input
			width 386px
			height 50px
			padding-left 20px
			padding-right 36px
			margin-left 24px
			color #929292
			border-radius 3px
			border none
		
		&-btn
			position absolute
			top 17px
			right 7px
			width 24px
			height 24px
			z-index 2
			cursor pointer
			
			&:after
				position absolute
				top 2px
				left 7px
				display block
				content ""
				width 0
				height 0
				border-top 8px solid transparent
				border-bottom 8px solid transparent
				border-left 8px solid #494949