PT_SansCaptionWebBold = 'PT_SansCaptionWebBold', sans-serif
PT_SansCaptionWebRegular = 'PT_SansCaptionWebRegular', sans-serif

PTSans-Narrow = 'PTSans-Narrow', sans-serif
PTSans-NarrowBold = 'PTSans-NarrowBold', sans-serif

PTSans-Bold = 'PTSans-Bold', sans-serif
PTSans-BoldItalic = 'PTSans-BoldItalic', sans-serif
PTSans-Italic = 'PTSans-Italic', sans-serif
PTSans-Regular = 'PTSans-Regular', sans-serif

@font-face
	font-family 'PT_SansCaptionWebBold'
	src url('../fonts/PT_SansCaptionWebBold.woff') format('woff')
	font-style normal

@font-face
	font-family 'PT_SansCaptionWebRegular'
	src url('../fonts/PT_SansCaptionWebRegular.woff') format('woff')
	font-style normal

@font-face
	font-family 'PTSans-Narrow'
	src url('../fonts/PTSans-Narrow.woff') format('woff')
	font-style normal

@font-face
	font-family 'PTSans-NarrowBold'
	src url('../fonts/PTSans-NarrowBold.woff') format('woff')
	font-style normal


@font-face
	font-family 'PTSans-Bold'
	src url('../fonts/PTSans-Bold.woff') format('woff')
	font-style normal
	

@font-face
	font-family 'PTSans-BoldItalic'
	src url('../fonts/PTSans-BoldItalic.woff') format('woff')
	font-style normal
	

@font-face
	font-family 'PTSans-Italic'
	src url('../fonts/PTSans-Italic.woff') format('woff')
	font-style normal

@font-face
	font-family 'PTSans-Regular'
	src url('../fonts/PTSans-Regular.woff') format('woff')
	font-style normal
	
.text-center
	text-align center !important

.text-right
	text-align right
