.footer
	padding-top 44px
	border-top 1px solid #aeaeae
	background-color #f9f9f9
	

	&__list
		
		&-social
			text-align right
			
			.footer__list-link
				text-align left
				display inline-block
		
		&-pay
			margin-top 113px
		
		&-mail
			margin-top 68px
		
		&-contact
			padding-left 30%
			
		&-item-header,
		&-item
			margin-bottom 17px
			font-family PTSans-Bold
			font-size pixelsToEm(18)
			
			&-header
				margin-bottom 20px
				
				& .footer__list-link
					color #366d8f
					
			&-avatar
				position relative
				padding-left 30px
				margin-bottom 33px
				font-size pixelsToEm(18)
				color #555555
				line-height pixelsToEm(20)
				
				&:before
					display block
					position absolute
					top 0
					left 68px
					z-index 2
					content ''
			
			&-facebook:before
				sprite $footerfacebook
				
			&-googleplus:before
				sprite $footergoogleplus
			
			&-insta:before
				sprite $footerinstagram
			
			&-twit:before
				sprite $footertwitter
			
			&-pinterest:before
				sprite $footerpinterest
				
			&-heading
				margin-bottom 20px
				text-align center
				color #555555
				line-height 26px
		
		&-item-text_lead
			text-transform uppercase
			font-size pixelsToEm(24)
			
		&-item-text_sub
			text-transform uppercase
			font-size pixelsToEm(18)
		
		&-link
			color #646464
			
			&_blue
				color #366d8f
				text-decoration underline
			
			&-visa
				display block
				sprite $visa
			
			&-master
				display block
				sprite $mastercard
			
			&-callback
				margin 0 auto
				display block
				sprite $footercallback


			&-mail
				margin 0 auto
				display block
				sprite $footermail
	
	&__contact
		padding 20px
		border 3px solid #366d8f
		
		&-header,
		&-subheader,
		&-content
		&-footer
			font-family PTSans-Regular
			font-size pixelsToEm(18)
			color #555555
			
			&  span
				font-weight bold
		
		&-header
			margin-bottom 11px
			font-family PTSans-Bold
			font-size pixelsToEm(30)
			text-transform uppercase
		
		&-subheader,
		&-content
			margin-bottom 22px
			
		&-content
			line-height 25px
		
		&-text-blue
			font-family PTSans-Bold
			color #366d8f
	
	&__search
		position relative
		margin-top 20px
		
		&-btn
			display block
			position absolute
			top 17px
			right 14px
			z-index 2
			content ''
			sprite $search
			cursor pointer
		
		&-input
			position relative
			width 100%
			padding 20px
			padding-right 50px
			font-family PTSans-Regular
			font-size pixelsToEm(18)
			color #999999
			border 1px solid #d4d4d4
			border-radius 4px
	
	&__sub
		position relative
		padding 25px 0
		font-family PTSans-Bold
		font-size pixelsToEm(18)
		background-color #366d8f
		color #fff
		
		&-btn
			position absolute
			top 14px
			left 50%
			width 44px
			height 44px
			border 3px solid #fff
			border-radius 6px
			clear both
			cursor pointer
			z-index 1
		
			&:after
				display block
				position absolute
				top 16px
				z-index 2
				content ''
				height 6px
				width 6px
				border 3px solid
				border-radius 4px
				border-color transparent
				border-right-color #fff
				border-bottom-color #fff
				transform rotate(-135deg)
				left 13px
		
		&-menu
			float right
		
		&-item
			float left
		
		&-link
			color #fff
			
			&_yellow
				color #efac1b
				text-decoration underline
			
