mixin circle-group()
	.row.circle-group
		.col.l12.m12.s12
			h5.circle-group__title.pt-40.pb-50 Why US
		.col.l12.m12.s12
			span.circle-group__subtitle Accredited training with a socially responsible TEFL organization.
		
